[2016-12-22 17:00] deeplook opened #1 "Modernize test suite"
- move `src/test` directory one level up and rename to `tests`
- convert `unittest` to `pytest` (done)
- add `tox.ini` and/or `pytest.ini`

[2016-12-22 17:02] deeplook opened #2 "Update README"
- deprecate `easy_install` in favour of `pip`
- mention Python versions 2 and 3
- add links to Wikipedia samples used
- update testing section to py.test

[2016-12-22 18:50] deeplook opened #3 "Merge code from other forks"
- https://github.com/sweh/svglib/commits/master

[2016-12-22 20:53] deeplook opened #5 "Replace getopt with argparse in svg2pdf"
And make https://pypi.python.org/pypi/argparse a dependancy for older Python versions of, both, 2 and 3.

[2016-12-22 22:13] claudep commented on #1
I know some prefer `pytest` over `unittest`, but I'd like to know the advantages in this particular lib. That's a real question, not a rant of some sort!

[2016-12-22 22:29] deeplook commented on #1
`Pytest` uses no boilerplate code, is more flexible and more _Pythonic_. It reports differences between received and expected structured results on deeper levels. It is easier to use when testing for raised or upraised exceptions (if I remember correctly). And it's a project that sees continuous improvements unlike anything in the `unittest` world. And there are surely more reasons I don't remembe

[2016-12-23 13:06] claudep commented on #1
Thanks for developing your arguments. I think I'll still need to see real examples to be convinced, but anyway, it's not a blocker for my contributions at all.

[2016-12-23 15:20] deeplook opened #12 "Handle issues spotted by QuantifiedCode-Bot"
See https://www.quantifiedcode.com/app/project/gh:deeplook:svglib

It's not sure, though, if this service will continue to exist after 2016, see https://www.quantifiedcode.com/blog/quantifiedcode-future...

[2016-12-23 16:44] claudep opened #17 "AttrConverterTestCase failure on Python 2"
On Python 2, io.StringIO needs a unicode string. @deeplook, do you want to support Python 3.2? We could add the `u""` prefix before the string, but Python 3.2 doesn't support it (it was readded in 3.3).

[2016-12-23 17:03] deeplook commented on #17
@claudep I don't think anybody _really_ cares about Python 3.2. I would start to care only at 3.4, when `pip` and `asyncio` became part of the proverbial _included batteries_, see https://docs.python.org/3/whatsnew/3.4.html.

[2016-12-23 17:05] claudep commented on #17
That's my opinion, too. Thanks.
May I ask you to push the fix by prefixing the string passed to `io.StringIO` in `test_no_fill_on_shape`?

[2016-12-23 17:10] deeplook commented on #17
There's no PR left including this. Or do I misunderstand something?

[2016-12-23 17:11] claudep commented on #17
No, I was just lazy to create a PR for one character :-)

[2016-12-23 17:17] deeplook commented on #17
Done.

[2016-12-23 17:18] claudep commented on #17
Thanks!

[2016-12-23 17:18] #17 closed

[2016-12-23 18:10] deeplook commented on #1
Will start by a simple restructuring.

[2016-12-24 12:56] deeplook opened #31 "Delete branch py2and3"
@claudep Unless you find anything interesting in it, mostly here: https://github.com/deeplook/svglib/commit/f23ba4067ddbb5b18327b3d273980374539131cd

[2016-12-24 13:28] claudep commented on #31
Well, it doesn't hurt to keep it a bit longer, but I don't think I'll take more ideas from it (maybe make the `xrange` -> `range` simplification).

[2016-12-26 11:22] claudep commented on #5
Can we close this one after 16fd5f4bc6?

[2016-12-26 11:24] deeplook commented on #5
In a short while. ;-)

[2016-12-26 11:28] deeplook commented on #5
With #7fa6863 we can...

[2016-12-26 11:28] #5 closed

[2016-12-27 10:16] deeplook opened #37 "Extend svg2pdf to generate other formats"
This should be easy given that there are other ReportLab renderers, like `renderPM` for bitmaps and `renderPS` for Postscript. And with `renderSVG` one could also do round-trip testing. The most difficult question then might be which name to choose for this extended tool instead of `svg2pdf`?

[2016-12-27 11:21] claudep commented on #37
Maybe keep the names in sync with RL and have several `svg2pdf`, `svg2pm`, etc. scripts? Of course, with much code reuse between scripts.

[2016-12-27 11:42] deeplook commented on #37
Yes, this would likely work for most without breaking expectations. One could even include a script named `svg2svg` for thrills. ;-) I was just scared of using names like `svg2any` or so. And stuff like _ImageMagick_ uses `convert` which is _way_ to general.

Maybe in that sense even `svg2*` is too general and there should be a tool/script named after the package. But then, that works best for pro

[2016-12-27 16:06] claudep opened #39 "Determine utility of convertText0"
@deeplook Any hint on the utility of the `convertText0` method?

[2016-12-27 16:08] deeplook commented on #39
Errmm, looks like an earlier version that can safely be removed...

[2016-12-27 18:56] #39 closed

[2016-12-27 18:56] claudep commented on #39
Fixed in 49357740d0

[2016-12-27 19:49] claudep opened #44 "Release a Python 3 compatible version on PyPI"
I think it would be nice to make a release on PyPI with the recent improvements of svglib. Is that in your plans?

[2016-12-27 20:06] deeplook commented on #44
Definitely! I'm aiming for a release 0.7.0 before 2017! To get there it might help me to re-focus on applying some remaining face lift details in setup.py and the test suite and stash work on `svg2pdf` siblings...

[2016-12-27 20:07] claudep commented on #44
Sure, good plan!

[2016-12-27 22:30] deeplook opened #47 "Fix test suite when reading image file"
Looks like after moving the test suite one level up some images for the W3C SVG tests cannot be found anymore. Same on Py2 and 3.

[code]

[2016-12-28 09:11] deeplook commented on #37
The preliminary `pdf2ps` and `pdf2pm` scripts are still buggy due to some import buglet on Py 2 after the restructuring.

[2016-12-28 09:21] deeplook commented on #3
@claudep I guess this can be closed now, right?

[2016-12-28 15:01] claudep commented on #3
Yes, I think so, too.
@sweh, @borgar, if you see anything missing comparing to your forks, feel free to suggest merges.

[2016-12-28 16:06] claudep commented on #47
I can't open that image (`cloudqllo.jpg`) in my image viewers (Gimp cannot open it either). So I'm rather surprised the test passed before! We might have to find a way to know if the image is valid before rendering.

[2016-12-28 17:27] deeplook opened #48 "Find a Python SVG logo to bundle with the included tests"
Those official ones are using one gradient for blue and yellow each which means they will currently not be rendered: https://www.python.org/community/logos/ So one without gradients would be nice.

[2016-12-28 17:42] deeplook commented on #47
Same here, and this image is not even referenced explicitly in any of the SVG files in `W3C_SVG_12_TinyTestSuite/svg`. So maybe it's used in some kind of loop...

[2016-12-28 17:43] claudep commented on #47
I'm working on convertImage now, several things need updating.

[2016-12-28 19:12] claudep commented on #47
With the above commits, the tests run fine on Python 2, however on Python 3, I'm confronted with https://bitbucket.org/rptlab/reportlab/issues/98/

[2016-12-28 19:50] deeplook commented on #47
Funny error. Especially since `reportlab.graphics.renderbase.Renderer` class has neither a `drawImage` method nor a superclass...

[2016-12-28 19:52] deeplook commented on #47
@claudep I suggest you send a message on the RL mailing list, which is what they observe more thoroughly than some issue tracker. And tell Robin this is kind of a late X-mas gift from me. ;-)

[2016-12-28 19:55] claudep commented on #47
I don't know if this is really a gift or not for RL, as I don't know the capabilities of their closed-source PLUS version.

[2016-12-29 09:14] deeplook opened #50 "Explore ShadedRect/ShadedPoly for color gradients"
After looking at `reportlab.graphics.widgets.grids` it seems that ReportLab started at some point to provide `ShadedRect` and `ShadedPoly` classes to support color gradients. While these do not seem to render in PDF using its higher level abstractions it does certainly help to render them also in bitmaps, say. It would be very useful to evaluate their potential for filling one import missing funct

[2016-12-29 09:23] deeplook commented on #50
@claudep Maybe you feel tempted to have a look?

[2016-12-29 09:24] claudep commented on #50
There are also linearGradient and radialGradient in `pdfgen/canvas.py`. However we may have to support clipPath first (not sure).

[2016-12-29 15:07] deeplook commented on #48
I've added an official one with gradients in https://github.com/deeplook/svglib/commit/3565f64ce6610351573e6b6ac906639097a2251a, in the hope of being able to render it one day, soon.

[2016-12-29 15:08] #48 closed

[2016-12-29 15:13] deeplook opened #51 "Spread the news about the next release on StackOverflow"
There are some threads about `svglib` there, see http://stackoverflow.com/search?q=svglib which could benefit from a brief update about the next release (after making the release).

[2016-12-29 22:04] claudep opened #52 "Use lxml instead of minidom to parse SVG files"
If we want to support CSS style sheets, it seems that using cssselect is a must.
https://pythonhosted.org/cssselect/
But to take advantage of it, we need an XML library which supports Xpath expressions. So I suggest to replace minidom usage by lxml. Is that reasonable?

[2016-12-30 09:41] deeplook commented on #52
@claudep Errm, I wasn't really aware of CSS styling in SVG until now: http://www.w3.org/TR/SVG11/styling.html. I'm not against `lxml`, I like to use it for XPath myself. But maybe `cssutils` does without it? https://pypi.python.org/pypi/cssutils

[2016-12-30 09:47] deeplook commented on #52
There was also an attempt at using CSS with `elementtree`, sadly now abandoned: https://github.com/SimonSapin/cssselect2

[2016-12-30 09:47] claudep commented on #52
I didn't find any information in the meager cssutils documentation about applying rules to a DOM tree, that's why I looked at the tinycss/cssselect couple. But I may have missed something.

[2016-12-30 09:49] deeplook commented on #52
In any case I think switching from `minidom` to anything else will be a significant effort and delay a more or less soonish release.

[2016-12-30 09:51] claudep commented on #52
Errr... no, I have a local branch with lxml support :-)
But you could decide to release now with minidom, and work on this for the next release.

[2016-12-30 09:52] deeplook commented on #52
If the test suite runs fine, create a branch here, so I can check, too...

[2016-12-30 09:57] claudep commented on #52
Here we go: https://github.com/claudep/svglib/tree/lxml

[2016-12-30 10:02] deeplook commented on #52
Looks good, make a PR, please, and I'll merge it right away.

[2016-12-30 10:25] deeplook commented on #52
I'm getting these three errors in `test_basic-py` after https://github.com/deeplook/svglib/pull/53:

[code]

[2016-12-30 10:31] claudep commented on #52
Check your code, as it seems you are not running the latest version...

[2016-12-30 18:56] deeplook commented on #52
Actually, I think I am running the latest code:

[code]

[2016-12-30 19:00] claudep commented on #52
Weird...
The error mentions: `attr_value = svgNode.getAttribute(name).strip()`
while the code is currently `attr_value = svgNode.attrib.get(name, '').strip()`
(https://github.com/deeplook/svglib/blob/master/svglib/svglib.py#L212)

[2016-12-31 12:35] deeplook commented on #52
Ok, since I had spent less time on it I had forgotten I need to install the package before testing. D'oh! In-between I had tried to install `svglib` on a Raspberry Pi Zero only to find that compiling `lxml` is no fun there... and I stopped it after a few hours.

[2016-12-31 12:45] deeplook commented on #44
Well, time is running out for 2016. Is there anything blocking a release, or making it mandatory? I mean we can also do it over the next few days. Shall we have a todo list, declare a feature freeze or that kind of thing? Do we want to release despite issue #47? I would also like to include a tested `tox.ini` file which I'd prefer to run on something like an Amazon EC2 box, maybe with a little dep

[2016-12-31 15:02] claudep commented on #44
No rush... but on another side, nothing prevents re-releasing in a short time. A release would have the advantage to get some more testing.
Issue #47 is not a blocker, as it might well be an issue we can not resolve ourselves.
A CI server (travis-ci.org or anything else) would be nice, but I don't know if it's acceptable to download stuff from Wikipedia at each run...

[2016-12-31 15:19] claudep commented on #52
Unfortunately, ElementTree has no simple way to get element parent, so we cannot just use it as a fallback, at least without refactoring the way we search for attributes.

[2016-12-31 17:25] deeplook commented on #44
Ok, then I conclude we should rather I'm for a release in early January. Maybe you can comment on what you expect about CSS and gradients support in that context? Thanks!

[2017-01-01 12:04] claudep commented on #44
I'm not sure to have time to work on new features in the short term, so feel free to release when you want. For me, it'll already be a great progress over 0.6.3.

[2017-01-01 17:39] deeplook commented on #44
Sure! It's already much improved now over the old 0.6.3! I'll make s list of files with any kind of issues I find after looking at all output PDFs from the test suite.

[2017-01-03 16:19] claudep commented on #47
ReportLab 3.3.26 solves this issue. Now should we still add some workaround code with Python 3/ReportLab < 3.3.26, considering that such combinations might be used in the next two years at least? (next Debian will have 3.3.0, as has Ubuntu 16.04).

[2017-01-03 16:30] claudep commented on #47
However, I'm not sure we can do anything, as we cannot know whether the drawing we are building will be used to render an image or a PDF or anything else.

[2017-01-03 17:07] deeplook commented on #47
Assuming reportlab 3.3.26 can be installed flawlessly, I'd opt for adding a note to the testsuite's README and the respective code line where the PNGs are created to use this with reportlab 3.3.36, rather than pin this version in the requirements, since I believe typical reportlab users are not jumping on new versions automatically. Does that make sense?

[2017-01-03 17:11] claudep commented on #47
+1 to not require this version and to a note in the README.
I don't think converting to PNG is a much used ability of svglib, considering ImageMagick does it too.

[2017-01-04 11:10] deeplook commented on #3
@sweh, @borgar I will close this by the end of the week, if you don't have anything...

[2017-01-04 11:32] deeplook commented on #47
Done in https://github.com/deeplook/svglib/commit/d122b5b148f69e7c39560224b34764c3f75ec250.

[2017-01-04 11:32] #47 closed

[2017-01-04 11:33] #52 closed

[2017-01-04 11:34] #2 closed

[2017-01-04 12:07] deeplook opened #55 "Paths are closed which shouldn't be"
I think there might be an issue with closing paths which also shows in a series of flag examples, e.g. that of Bhutan. I've condensed the following minimal example from `tests/samples/wikipedia/symbols/Flower-of-Life-small.svg`:

[code]

Clearly, there is no `z` in the path here, but for some reason this seems to be ok. Maybe it's the `fill-rule:nonzero` style... (well, apparently not).

[2017-01-04 12:36] claudep commented on #55
Yes, I'm working on it, too. My local patch is almost ready.

[2017-01-04 14:05] borgar commented on #3
I haven't worked on the code since 2011, so I'm likely too far gone at this point. It does look like you have everything I wrote.

I will be happy to close my repo, transfer ownership to you, or direct it to here via a readme. Don't know what the best thing to do is, leaning toward just a full delete and letting people deal with it.

[2017-01-04 15:18] #55 closed

[2017-01-06 08:06] deeplook commented on #3
@borgar Thanks for the info! I'll trust you entirely since I do not have the time to make a feature comparison. But I know @claudep has done a great job of adding many missing features. So feel free to do with your repo whatever you want. If you can pass on its stars that would be appreciated, but I guess that's difficult. ;-)

[2017-01-08 19:15] #3 closed

[2017-01-08 19:15] #1 closed

[2017-01-08 20:49] deeplook commented on #37
Will delay this for a future release and remove the existing initial code to increase test coverage.

[2017-01-09 22:15] #37 closed

[2017-01-19 19:41] deeplook commented on #44
@claudep @replabrobin Is there any work on features left to be done before a new release of `svglib`? I'm thinking of skipping 0.7 and bump it to 0.8, reserving a little room for gradients which might then justify 1.0. We should also make very clear which `reportlab` version works best with any new `svglib` to be released. As far as I'm concerned it might happen the next weekend.

[2017-01-19 19:44] claudep commented on #44
I would say that there are always new features that could be done. Let's have a release as soon as possible. Nothing prevents us of doing more releases as new features are committed.

[2017-01-19 20:47] skidzo commented on #44
Hi!, If I can do **something** to help out, please let me know! I can test for the Python 3.5 on Mac, Win7, and Ubuntu, on Windows I am using an Environment, that I installed myself, but on mac and linux I use Anaconda 4.2.0 (64-bit). I am using reportlab currently in a project, and I have a few svg files, that i would like to use...

[2017-01-19 20:59] deeplook commented on #44
@skidzo Sounds great! Any help is welcome! Testing is always a good thing (installing `pytest-xdist` accelerates that quite a bit). I'm mostly on Miniconda 2 and 3 on a Mac. @claudep is likely on Linux. @replabrobin will certainly have some Win version, but I assume that's also the most neglected platform (I certainly ignore it ;-).

If you find any issues on your SVG files (apart from gradients),

[2017-01-23 12:33] skidzo commented on #51
I have put a minimal example into one Question that sounded most clear to me:

http://stackoverflow.com/questions/16513940/embed-svg-files-into-pdf-using-reportlab

and I am not really satisfied about the work-flow here, maybe you have a suggestion:

    from svglib.svglib import svg2rlg
    drawing = svg2rlg(path)
    sx=sy=factor
    drawing.width,drawing.height = drawing.minWidth()*sx, drawing.

[2017-01-23 12:50] deeplook commented on #51
If you embed an SVG in a PDF, it should be not surprising you have to rescale the SVG using `drawing.scale()`. It has to be done *somewhere*. For now `svglib` contains no such `SvgImage`, but maybe it will in a future version. Feel free to open an issue for that! This one was rather intended, as the title says, to not forget to spread the news about the coming release.

[2017-01-23 12:57] skidzo commented on #51
Ok, looking forward to that release!

a big THANKS by the way!

I will open the "Issue"
this seems to be a more reportlab related Issue anyway...

[2017-01-23 13:22] skidzo opened #69 "SvgImage(Flowable) or SvgReader class that provides a convenience functions to scale or wrap the image to a specified space using reportlab.platypus?"
Something like this would be nice for a future release:
[code]
Maybe it is sufficient to just provide a SvgReader() class, that gives the freedom to implement this in a flexible way...

The wrap() can be overloaded, whereas the wrapOn() method should not be touched.

I found an example somewhere that explains what it could look like, only that this shows how to embed a PDF file:
[code]

[2017-01-23 14:40] deeplook commented on #44
Done, hooray! https://pypi.python.org/pypi/svglib/0.8.0

[2017-01-23 14:40] #44 closed

[2017-01-23 14:41] claudep commented on #44
\o/

[2017-01-25 06:51] v-python opened #70 "Windows support"
I noted the "pure python" and "no windows support" and wondered why.

On Windows, I did  pip install svglib  and it wasn't blocked, and also installed lxml.

Didn't find any tests after the install, which the readme had sort of hinted might be installed that way, but wouldn't be the second way...

Downloaded the whole shebang as a ZIP from github, which doesn't include the wikipedia samples, I gue

[2017-01-25 08:08] deeplook commented on #70
Thanks for your detailed report! You are right that the test suite is part of a an archived release, but will not be "installed" in the main package, which is kind of standard, I believe. You can run the test suite when following the instructions in `tests/README.rst`. Pip-installing `pytest` is kind of mandatory and seems to support Windows as expressed here: https://pypi.python.org/pypi/pytest.

[2017-02-02 17:03] SchwarzMarek opened #71 "svg would not parse"
Hello,
I have an svg produced by matplotlib and I would like to read it with svg2rlg.
I'm able to read different svgs, but this one eludes me.

When reading, I end up with error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py", line 2881, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-10-0

[2017-02-02 18:34] claudep commented on #71
Did you forgot joining the SVG?

[2017-02-02 21:14] SchwarzMarek commented on #71
Sorry,
I've pasted it, as I could not attach svg directly, but something went wrong.
I've genereted new svg, now the error is occuring at line 161.
I hope the file reaches You now.

[dist_fig.zip](https://github.com/deeplook/svglib/files/748968/dist_fig.zip)

Best regards
Marek

[2017-02-02 21:35] claudep commented on #71
Thanks, got it. The issue is that empty paths make svglib crash. I'll prepare a patch.

[2017-02-03 22:48] #71 closed

[2017-02-17 10:07] replabrobin commented on #70
Hi, I can run all the tests on windows in the standard way using a virtual environment. However, I do see errors.
[code]

[2017-02-20 10:37] replabrobin commented on #69
Not sure if this is what you want, but I think that the reportlab.lib.utils.ImageReader class now accepts drawings as inputs so any svglib drawing can be used as an image. In any case drawings were already flowables so can be added to a story.

[2017-02-20 22:15] skidzo commented on #69
Well that's partly because I don't really know what I want, I just looked at Image Reader "Wraps up either PIL or Java to get data from bitmaps" class in my open source version=3.3.0, and there is no such fancy drawing acceptance as you described. I don't have any Problem to add a drawing to the "story", I was just thinking that it would be fancy to have a possibility to have my own SvgImage class

[2017-03-25 16:21] Mygod opened #74 "IndexError: list index out of range"
[code]

[2017-03-25 16:33] Mygod opened #75 "TypeError: patchedRenderPath() got an unexpected keyword argument 'forceClose'"
[code]

https://github.com/deeplook/svglib/blob/283aa1d/svglib/svglib.py#L1062

Missing arguments.

[2017-03-25 16:36] Mygod commented on #74
P.S. This error is pretty self explanatory.

[2017-03-25 16:37] claudep commented on #74
Do you have a svg file producing this error at hand?

[2017-03-25 16:38] Mygod commented on #74
Yes but unfortunately it's licensed (it's a sheet music). Also lots of noteheads are missing in the output. (I patched this library myself)

[2017-03-25 16:40] claudep commented on #74
You might send me the file privately. Of course, if you already have the patch/test, just send a pull request.

[2017-03-25 16:45] Mygod commented on #74
Actually I think I can share its first page. None of the text is displayed in PDF output even after the patch for this issue and #75. :cry:

[0.svgz.tar.gz](https://github.com/deeplook/svglib/files/870184/0.svgz.tar.gz)

[2017-03-25 16:47] Mygod commented on #74
So far I can only see basic lines in the final output. I think I'll have to give up and use Apache's library instead to get my job done...

[2017-03-25 16:56] claudep commented on #74
Unfortunately, that first page does not trigger the error.

[2017-03-25 17:00] Mygod commented on #74
Hmmmm how about this...

[0.svgz.tar.gz](https://github.com/deeplook/svglib/files/870204/0.svgz.tar.gz)

[2017-03-25 17:52] claudep commented on #74
In fact, I suspect this being a duplicate of #71. Could you try that change in your code?

[2017-03-25 17:54] Mygod commented on #74
Yes. But besides this, these svgs all render poorly. 😞

[2017-03-25 17:54] #74 closed

[2017-03-25 18:03] claudep commented on #74
I will still investigate about the rendering issues of your files, thanks for the report.

[2017-03-25 21:47] claudep opened #76 "Symbol definitions are not rendered"

[2017-03-25 21:47] claudep commented on #74
The rendering issues will be tracked in #76.

[2017-03-26 08:59] #75 closed

[2017-03-26 09:00] #76 closed

[2017-03-26 13:54] deeplook commented on #70
If nobody volunteers within a week to provide something like regular windows support I'll just cloae this issue, soon.

[2017-03-26 15:49] claudep commented on #70
I'm not able to debug Windows issues. However I think the issue should still stay open in the case someone will step up. That way, people encountering issues with Windows can come here and see "Oh, Windows issues are already reported".

[2017-03-26 16:15] deeplook commented on #70
Ok, agreed.

[2017-03-28 06:25] claudep commented on #70
I'm sorry for the px regression. Should be fixed by #80

[2017-04-08 16:03] jdugge opened #81 ""y" in "tspan" interpreted as relative coordinate?"
I tried to convert an SVG that contains the following text node, which contains a `y` key both in the `text` tag and in the `tspan` code:

[code]

This node disappears off the page when converting it using `svg2pdf`, presumably because in https://github.com/deeplook/svglib/blob/master/svglib/svglib.py#L720, the y coordinates are added. If I understand correctly, the inner `y` keyword should be int

[2017-04-09 17:58] claudep commented on #81
The result is still not perfect because em units are not implemented yet, but the y position should be correct with the patch.

[2017-04-10 20:14] #81 closed

[2017-04-10 20:21] deeplook opened #83 "Remaining little flag artefacts"
Three flags in `samples/wikipedia/flags` show minor but clearly visible artefacts with paths and/or clipping: `Kyrgyzstan.svg`, `Slovenia.svg` and `The_republic_of_china.svg`.

[2017-04-10 21:35] claudep commented on #83
After a quick look, these are probably different issues.
For `The_republic_of_china.svg`, it's probably an issue with `viewbox` vs svg height and width.
For `Slovenia.svg`, it's a svg inside another svg (currently unsupported).
For `Kyrgyzstan.svg`, it's probably an issue with `clipPath` being a circle (should check if Reportlab supports that or not).

[2017-04-11 21:10] deeplook commented on #83
Likely correct...

[2017-04-12 18:45] jdugge commented on #81
Thank you so much @claudep for the super fast help, and @deeplook for maintaining this project! Much appreciated!

[2017-05-26 11:56] nicoddemus commented on #70
Hi,

First for all thanks for all your work on this package!

I'm building a conda version of this package for [conda-forge](https://github.com/conda-forge) and it seems to work fine except for two failing tests:

[code]

This happens for both py27 and py35.

The tests seem simple to solve, but I notice there's no continuous integration for Windows and Travis actually on the repository. @deeplook

[2017-05-26 12:03] nicoddemus commented on #70
Recipe submitted: conda-forge/staged-recipes#3033

[2017-05-26 12:24] claudep commented on #70
Please, open a separate ticket for CI setup.

[2017-05-26 12:40] nicoddemus opened #86 "CI setup"
Hi,

First for all thanks for all your work on this package!

I'm building a conda version of this package for [conda-forge](https://github.com/conda-forge) and it seems to work fine except for two failing tests:

[code]

This happens for both py27 and py35.

The tests seem simple to solve, but I notice there's no continuous integration for Windows and Travis actually on the repository. @deeplook

[2017-05-26 12:41] nicoddemus commented on #70
I started working on the ticket with the mentality of "tests on Windows failed", but that changed midway when I noticed the failed tests were simple to solve, and ended up changing the subject to "CI setup" in the end. My apologies.

Done: #86.

[2017-05-26 12:58] claudep commented on #86
Sure Travis integration would be a must. However, I'm not very fond of downloading stuff from Wikipedia at each run. Isn't that consuming bandwidth from community-funded servers? Or is that negligible?

[2017-05-26 13:09] nicoddemus commented on #86
I'm sure it's negligible, unless we are talking about gigabytes... A lot of jobs download entire packages during build (pip and conda)

[2017-05-29 12:14] deeplook commented on #86
@nicoddemus Thanks for your offer to build a conda package! I'm interested in having Travis check any builds, but I haven't used it yet and would like to keep the additional work/costs on my side to a minimum. I see it's "10000%" free, so I'll have a look at it these days...

[2017-05-29 13:39] nicoddemus commented on #86
@deeplook I can open a PR to add support for Travis and AppVeyor if you would like. You can start by configuring Travis and AppVeyor for this repository (it is just a matter of logging in the website using your GH account and enabling Travis and AppVeyor for this repository). Then by the time I open a PR it will already start building on those services.

[2017-05-30 09:35] deeplook commented on #86
Have created TravisCI and AppVeyor project for svglib, and updated AppVeyor badge ID in https://github.com/deeplook/svglib/commit/5e46e679849cbe5cbf02ee2adf4dc34de3c11874.

[2017-05-30 09:35] #86 closed

[2017-06-04 13:54] htgoebel opened #88 "font-weight is not handled"
`<text>` and `<tspan>` do not handle font-weight.

The following document renders the same text at almost the same position. The second one should be bold (with the "not" rendered normal). As you can see, both text have the same width.
[code]
![grafik](https://cloud.githubusercontent.com/assets/784161/26762187/1b34fb62-493e-11e7-807b-2a3f30541dfb.png)

[2017-06-04 14:21] htgoebel opened #89 "font-family not handled properly?"
The example document uses the fonts "Dingbats", "Verdana", "serif", "Times-Roman" and "Helvetica". In the generated PDF I can only find "/Times-Roman" (may be a correct substitute for "serif") and "Helvetica".

1. "serif" seems to be handle properly, see second line ("Zeile 3")
2. "Times-Roman" and "Helvetica seem to be handled properly, see second text-block: Times (green) renders differently tha

[2017-06-05 06:48] deeplook commented on #89
I don't think there was a lot of test effort regarding fonts. The way reportlab works (from my ancient knowledge about it) regarding PDF output is that the "standard 14 Postscript" fonts are included/available into every PDF file, while any other needs to be declared and embedded manually, e.g. as TrueType or Type-1. Verdana is not one of the 14 standard ones, see: http://www.enfocus.com/manuals/R

[2017-06-05 06:52] deeplook commented on #88
While this can be actually true, testing it with a font like Verdana makes little sense without embedding that font in the output PDF, which is not supported yet, IIRC, as mentioned in #89.

[2017-07-10 16:39] astrike30 opened #90 "Choose image dimensions when calling renderPM.drawToFile"
Is there any way to choose the dimensions of the image that is saved by calling `renderPM.drawToFile` or by any other method?

[2017-07-10 18:25] deeplook commented on #90
Using `svg2pdf` from the command-line I believe you cannot change the dimensions, but if you use it programmatically you can apply methods like `.scale()` on the `Drawing` instance that you get from `svg2rlg("file.svg")`...

[2017-07-10 20:26] astrike30 commented on #90
I am actually using python so that sounds like exactly what I need, can you point me at some docs for that `.scale()` method? :) Thanks

[2017-07-10 21:07] deeplook commented on #90
[IPython](http://ipython.org) is your friend (the respective ReportLab docstring is pretty terse, though:)

[code]

[2017-07-10 21:18] astrike30 commented on #90
Thanks :)

[2017-07-11 15:47] deeplook commented on #90
Sorry, but I fail to find a simple link on reportlab.com or https://bitbucket.org/rptlab/reportlab...

Maybe this can give you a nice example, instead: https://stackoverflow.com/questions/13345284/reportlabs-code128-barcode-as-html-image-tag-with-data-uri-scheme-in-python#13350788

[2017-07-11 16:54] astrike30 commented on #90
Thanks again :)

[2017-07-11 16:54] #90 closed

[2017-07-18 16:26] kooky opened #91 "Slow to install"
I installed svglib today with pip.

The install didn't finish before something timed out.

I disabled test cases, installs and works fine.     It wasn't use CPU - maybe a download hung or something.

I couldn't work out why, I'll have a look later.

[2017-07-18 17:04] deeplook commented on #91
Running the test suite for the first time will take a significant amount of time, mostly because a lot of SVG sample files are downloaded from Wikipedia. Later it should be faster. A simple `pip install svglib` should not run the test suite, though.

[2017-07-18 17:08] deeplook opened #92 "Think about using this package to render GeoJSON files"
Converting GeoJSON into something visual is still kind of an unnecessarily complicated issue. Using sites like geojson.io or GitHub gists makes this easier, but creating something quickly local seems to be overly complex, often  involving some node.js tools. It might be interesting to come up with a simple solution using `svglib` to convert them into SVG and from there to PDF. Any practical help w

[2017-07-18 18:58] claudep commented on #92
This is surely an interesting goal. However, I think this would be the task of a separate utility. IMHO svglib should focus on what it's designed for: read SVG and convert to other formats.

[2017-07-28 06:12] #91 closed

[2017-08-19 19:40] #92 closed

[2017-09-26 07:11] petri opened #93 "Embedded PNG images don't show up?"
I get a "Adding box instead of image." warning for each embedded PNG image. The output PDF has no images. Any suggestions?

Here's the stanza for the embedded PNG images:

`<image xlink:href="data:image/png;base64,iVBORw0KGgoAA.../>`

And the code:

[code]

[2017-09-26 08:12] deeplook commented on #93
Thanks for your report! I don't have a lot of time nowadays to look into this. But I'd suggest you look into the test suite for something similar and/or create a similar case with a sample PNG, either a non-copyrighted one or one you create dynamically using https://pypi.python.org/pypi/pypng.

[2017-09-26 08:37] petri opened #94 "Test failures"
Running the tests, I see following failures on OSX, Python 3.6, on current svglib master:

tests/test_samples.py::TestWikipediaFlags::test_convert_pdf ERROR
(while processing tests/test_samples.py::TestWikipediaFlags::test_convert_pdf)

Later the following simply hangs forever:

tests/test_samples.py::TestW3CSVG::test_convert_pdf_png
(while processing tests/samples/W3C_SVG_12_TinyTestSuite/svg/pai

[2017-09-26 08:41] petri commented on #94
Looks like the Wikipedia flags are not downloaded for some reason...

[2017-09-27 18:14] deeplook commented on #94
I've just run a freshly cloned version (on OSX, Python 3.5) from github without any issues at all. This includes the file you mention, which produces the PNG below. So I guess you must have some local issues, maybe network or whatever. Providing details of example runs is usually helpful.

![paint-stroke-207-t-svglib](https://user-images.githubusercontent.com/1001778/30929805-e5711f6a-a3bf-11e7-9a

[2017-09-27 18:29] petri commented on #94
I am running Python 3.6.2 in a virtualenv. Maybe that makes a difference.

What kind of details do you mean? What I provided above are copied from output of `py.test -s -v`

[2017-09-27 18:39] deeplook commented on #94
I mean a snapshot of the terminal interaction including output. Here is what I did without output. Maybe you want to replicate it. I cannot promise to be super-responsive, though, concerning issues, I can't reproduce immediately.

[code]

[2017-09-27 18:40] petri commented on #94
Got it. I had missed a new required post-install step when installing Python 3.6+ ... See http://www.cdotson.com/2017/01/sslerror-with-python-3-6-x-on-macos-sierra/ (also applicable on OSX El Capitan). Basically SSL certificate verification failed when fetching the test files.

[2017-09-27 18:40] #94 closed

[2017-09-27 20:08] deeplook commented on #93
Is this related to #94, maybe?

[2017-09-27 20:38] claudep commented on #93
@petri it would be nice to have an example file at hand.

[2017-09-29 11:01] hovodab opened #95 "Running svg2rlg second time returns None."
I have to draw an image on every page of a PDF file. For that I have a function that does something like this:
[code]
And for every page I call the function draw_logo. It draws the image on the first page, but when the function is called second time(for second page) svg2rlg returns None. Yet I have found a way to bypass this case, I still think things shouldn't work so.

[2017-09-29 12:03] claudep commented on #95
I cannot reproduce. Are you sure `file_path` is a real file path, or is it another file-like Python object?
Do you get a "Failed to load input file!" error log line the second time?

[2017-09-29 12:57] hovodab commented on #95
@claudep It is a real file path(str). What is your version of svglib? I use 0.8.1.

[2017-09-29 13:02] claudep commented on #95
Changes on master from the 0.8.1 release are minor, I don't think that makes a difference.
Are you able to place a breakpoint inside the `svg2rlg` function to see what's happening?
Is your file a `.svg` or `.svgz` file? Which Python? On Linux, Mac, Windows?

[2017-09-29 13:05] hovodab commented on #95
File is `.svg`
Ubuntu==16.04, python==3.5.2

[2017-09-29 13:16] claudep commented on #95
I have quite a similar configuration (Debian instead of Ubuntu). That's a weird behavior.
Is the following Python code running fine for you?:
[code]
I don't see how the document would be empty the second time.

[2017-09-29 13:21] hovodab commented on #95
Yes, this runs without errors.

[2017-09-29 13:24] claudep commented on #95
I'm sorry, I don't see any obvious error on svglib side which would explain this error. I'm afraid you'll have to debug a bit more on your side.

[2017-09-29 13:26] hovodab commented on #95
@claudep Yes, I think I should. Thank you for your help. I will try to dig deeper.

[2017-09-29 13:38] #95 closed

[2017-09-30 20:36] deeplook opened #96 "Fix badges for Travis and AppVeyor CI"

[2017-10-04 20:23] jacobj commented on #93
+1 embedded png images don't seem to show up on both Python 3.5.4 and 3.6.2

[2017-10-04 20:26] deeplook commented on #93
Can anybody please provide reproducible code? Thanks! I'll add something around these lines in a *submitting bug reports* section in the README, soon...

[2017-10-05 07:51] petri commented on #93
The issue is easy enough to reproduce and there is no question about it being valid, imho. The fact that svglib warns "Adding box instead of image." regardless of what the image type is (PNG or other) suggests to me this is a known issue. Or if not, what does that warning mean if not that???

A proper test would have to check the internals of the resulting PDF to somehow detect whether the PNG is

[2017-10-05 07:57] petri commented on #93
To check the PDF, I am pretty sure pdfrw can do the trick: https://pypi.python.org/pypi/pdfrw

[2017-10-06 16:59] claudep commented on #93
Thanks for the sample file. I have a preliminary patch available here:
https://github.com/deeplook/svglib/compare/master...claudep:issue93
However, the image is reversed in the document. @deeplook I already struggled with shapes reversed in past patches, do you know what's wrong with coordinates?

[2017-10-14 20:30] MinchinWeb opened #97 "Support *pathlike* objects."
What am I proposing is that `svglib.svglib.svg2rlg()` accept a path-object created by `pathlib.Path()` (added to the standard library in Python 3.5) rather than just strings.

I have pathlib is a wonderful addition to my Python programming, and it would be a touch simpler if I could use it directly with svglib.

[2017-10-14 20:58] deeplook commented on #97
I like the idea. I just have never used `pathlib` myself, yet. It should be a simple thing to contribute, which I'm encouraging you to do (while not giving up Python 2.7 compatibility).

[2017-10-14 21:06] deeplook opened #98 "Contact owners of stale forks of svglib"
There seem to be some stale forks of `svglib` on GitHub which were made a long time ago and which don't reflect the many changes that were added with version 0.8.1. I'm getting some requests from people confused by those, and maybe this can be changed by contacting those who have made the forks...

Here's a very preliminary list:

- https://github.com/DataMarket/svglib
- https://github.com/sweh/sv

[2017-10-14 21:17] deeplook commented on #12
Meanwhile the service was shut down, but there is an Open Source version of it now, which maybe should be explored when time permits... see https://github.com/quantifiedcode/quantifiedcode

[2017-10-15 18:54] deeplook commented on #93
@claudep I've finally looked at your patch. Have run it only on the provided Wikipedia logo. Looks ok, but I confirm the image gets flipped vertically. The effect disappears when adding an `transform="translate(0, 841.89) scale(1, -1)"` attribute to the `image` element, where `841.89` is the height of the `svg.viewBox` attribute. I have to play more with it, though...

Also, the [SVG specs](https:

[2017-10-15 18:56] deeplook opened #99 "Explore diffs between SVG 1.1 and SVG 2"
Need to explore [SVG 2](https://svgwg.org/svg2-draft/) which is pretty new and the potential impacts on `svglib`.

[2017-10-15 18:58] claudep commented on #93
Thanks for investigating. Let's focus on bitmap formats with this ticket.

[2017-10-17 03:03] MinchinWeb commented on #97
Thanks @deeplook ; I'll look into it, but I can't give you a timeline at the moment!

[2017-12-05 18:57] nicoddemus opened #101 "Different PDF output between runs with hash randomization enabled"
Hi!

We have regression tests that use `svglib` to embed SVG files into PDF reports. Those tests work by generating a PDF file and saving it as the "expected" output in a designated directory the first time they execute. The generated PDF files are manually examined and if they are correct, they are committed to Git so future runs now generate a new PDF file and compare it with the "expected" outp

[2017-12-05 18:59] nicoddemus commented on #101
Forgot to post the `image.svg` file to help reproduce the issue:
[image.zip](https://github.com/deeplook/svglib/files/1532515/image.zip)

[2017-12-06 08:14] deeplook commented on #101
I'm on vacation this week and can't test well. But I do remember vaguely having seen some kind of creation timestamps added by reportlab to the PDFs inside the info dict sessions. Svglib doesn't do anything special here and I would maybe suggest raising an issue on the reportlab repo on bitbucket.org.

[2017-12-06 10:22] nicoddemus commented on #101
@deeplook thanks for the answer.

That makes sense, but I notice that we don't have the same problem when generating PDF with static images (png, jpg), tables or formatted text, only when we have a SVG file.

I will dig around the code to see if I encounter the reason for it.

Thanks again for your answer, and I hope you enjoy your vacation! 👍 🍺

[2017-12-25 20:12] deeplook opened #102 "Investigate implicit line operators in <path>"
I've stumbled over a very simply logo that svglib does partly not render (the blueish triangle is missing): https://upload.wikimedia.org/wikipedia/commons/c/c7/HERE_logo.svg. I does appear though when adding `l` operators to the first path, turning it into:

[code]
So there seems to be some convention about implicit `l` operators that is not followed by svglib, yet. This is simply a ticket to inve

[2017-12-25 20:21] deeplook commented on #102
Ok, this is a good starter: https://www.w3.org/TR/SVG11/paths.html#PathDataMovetoCommands

"""
Start a new sub-path at the given (x,y) coordinate. M (uppercase) indicates that absolute coordinates will follow; m (lowercase) indicates that relative coordinates will follow. If a moveto is followed by multiple pairs of coordinates, the subsequent pairs are treated as implicit lineto commands. Hence,

[2017-12-27 16:53] claudep commented on #102
Weird, I cannot reproduce the blueish triangle issue locally.

[2017-12-27 17:34] deeplook commented on #102
Maybe an issue with the rendering application. I think I have used only Apple Preview.app, so far...

[2018-01-10 13:40] eyaler opened #104 "svg2png problem"
i tried to convert this svg:
https://github.com/eyaler/blob2svg/blob/master/test.svg
to png, and got this:
https://ibb.co/k2ksbm

[2018-01-10 13:45] claudep commented on #104
Is the PDF rendering also similarly broken?
It would be awesome to isolate and extract the wrongly-rendered polygons from the SVG.

[2018-01-10 22:19] deeplook commented on #104
@eyaler Don't hesitate to post a bitmap image in a ticket! I at least find sites like ibb.co a little suspicious. ;-)

[2018-01-13 23:34] JorjMcKie opened #105 "Why is output PDF b/w for a colored svg input?"
Here is the example svg input and pdf output (created with svglib):
[silicon2018.zip](https://github.com/deeplook/svglib/files/1628852/silicon2018.zip)

[2018-01-14 18:05] claudep commented on #105
Because the color is defined in a CSS rule in that file, and svglib doesn't support CSS yet.

[2018-01-14 18:11] claudep commented on #105
With this file (CSS fill property moved to element directly), this should work.
[silicon2018.zip](https://github.com/deeplook/svglib/files/1629619/silicon2018.zip)

[2018-01-14 18:53] JorjMcKie commented on #105
Thank you very much indeed. That helped a lot!

[2018-01-14 18:53] #105 closed

[2018-03-01 10:23] yjf0824 commented on #104
@deeplook , my svg include chinese charset. after use renderPM.drawToFile(drawing, "/home/xxx.png"),
 the messy code appears like:
![image](https://user-images.githubusercontent.com/13815306/36839580-6b365bb0-1d7d-11e8-8242-e4f2b88605f9.png)
How can I solve the messy code problem? Thanks for your apply.

my svg is:

<svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&

[2018-03-01 10:43] claudep commented on #104
@yjf0824 Please open a separate bug report for your issue (chinese chars rendering).

[2018-03-02 01:07] yjf0824 opened #107 "chinese chars rendering"
@deeplook , my svg include chinese charset. after use renderPM.drawToFile(drawing, "/home/xxx.png"),
 the messy code appears like:
![image](https://user-images.githubusercontent.com/13815306/36839580-6b365bb0-1d7d-11e8-8242-e4f2b88605f9.png)
How can I solve the messy code problem? Thanks for your apply.

my svg is:

<svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&

[2018-03-02 09:02] claudep commented on #107
Now I see we already have the issue #89 about font support. I guess the root cause is the same.

[2018-03-02 09:09] claudep commented on #89
To embed fonts in PDF, we'll have to obtain the font system path. It looks like Python doesn't offer a simple way to get OS-independent system font files. The best implementation I found until now is matplotlib font_manager (https://matplotlib.org/api/font_manager_api.html). Requiring matplotlib is a bit of a heavy dependency, but we might optionally depend on it for better font support?

[2018-03-02 09:10] claudep commented on #89
See #107 for a similar issue with a Chinese font.

[2018-03-03 06:02] zxdawn opened #109 "Opacity"
Hi @claudep
My svg's opacity is 0.2. But, the opacity is 1 after converted to pdf by svg2pdf.
This is the [url](https://drive.google.com/open?id=1c-D4c-GRVa7aghhm6yEeCiUKBB5sX9mZ) of svg file.

1. svg in Photoshop
![svg](https://user-images.githubusercontent.com/30388627/36931221-5f8b710e-1eec-11e8-9e47-3e8ff95a6116.png)

2. svg2pdf
![image](https://user-images.githubusercontent.com/30388627/36931

[2018-03-03 12:21] claudep commented on #109
You're right, svglib implements 'fill-opacity' and 'stroke-opacity', not the plain 'opacity' yet.

[2018-03-03 12:23] zxdawn commented on #109
@claudep Thank you for reply~

[2018-03-03 12:24] claudep commented on #109
You shouldn't close the issue, we should fix it first!

[2018-03-03 12:33] zxdawn commented on #109
@claudep  Sorry. Reopen now.

[2018-03-04 15:12] deeplook commented on #104
Anybody have a pointer to some text about reporting issues and/or making contributions? I feel like we have too many issues recently with either confusing titles, insufficient information and/or desired outcome, or a combination of these...

[2018-03-04 15:24] deeplook commented on #89
Better font support would certainly be a nice-to-have essential feature. But I'd rather include some existing code from elsewhere doing font search than add a dependency on something as huge as matplotlib. The easiest to start with would be to ask the svglib user to provide a list of directories to find fonts in.

[2018-03-04 18:28] claudep commented on #89
Agreed. My patch above is a first step to better support the standard PDF fonts. Then we can gradually improve support for other fonts.

[2018-03-08 16:24] jsvachon2 opened #111 "Generated PDF is all black"
Hi,

I am using pygal to generate a SVG file which displays just fine in my browser. But when I convert it to any other format (PDF, jpg, png) using svglib, all I am getting is a picture completely black.

I am on OSX, do I need any additional package/library installed?

Thanks

[2018-03-08 16:27] claudep commented on #111
You may imagine that without the SVG file, we cannot say much about this :-)

[2018-03-08 16:32] jsvachon2 commented on #111
Yeah I guess this would help. The tool does not support svg so I renamed it to a text file

[cpuusage.txt](https://github.com/deeplook/svglib/files/1793929/cpuusage.txt)

[2018-03-08 20:54] jsvachon2 commented on #111
Not sure if this will help but using the svg2pdf binary is also generating a black  image...

/tmp $ svg2pdf cpuusage.svg

[cpuusage.pdf](https://github.com/deeplook/svglib/files/1794780/cpuusage.pdf)

[2018-03-08 21:01] deeplook commented on #111
@jsvachon2 Not sure, I've heard of http://pygal.org/en/stable before. Your example seems to be created with v. 2.4.0. Do you observe that effect for all your samples created with pygal or only some, or only this one? :)

[2018-03-08 21:11] claudep commented on #70
Now I think only the README needs updating.

[2018-03-08 21:16] #70 closed

[2018-03-08 21:17] deeplook commented on #70
@claudep If you want see if you can give it an update! But just don't let people expect Windows support will be anytime anywhere at par with Unix. 😸

[2018-03-08 21:19] claudep opened #112 "Support style set by CSS stylesheets"
svglib doesn't support yet stylesheet-defined styles. Only styles directly applied to elements is taken into account.

[2018-03-08 21:21] claudep commented on #111
The reason is that style is defined by a stylesheet in your SVG document, and svglib doesn't support that yet (just opened #112 to track that issue).

[2018-03-08 21:21] #111 closed

[2018-03-08 21:21] deeplook commented on #96
Fixed with https://github.com/deeplook/svglib/pull/110.

[2018-03-08 21:21] #96 closed

[2018-03-08 21:28] claudep commented on #70
Sure, but as far as the test suite passes, I think we can claim Windows support, even if I don't have access to Windows machines either.

[2018-03-08 21:29] claudep commented on #31
@deeplook I think the branch can be safely removed now (unless you want to keep it for historical reasons).

[2018-03-08 21:44] deeplook commented on #31
Done.

[2018-03-08 21:44] #31 closed

[2018-03-08 21:44] claudep commented on #102
Here's the PDF I just produced locally with svglib master (blueish triangle visible with Evince):
[HERE_logo.pdf](https://github.com/deeplook/svglib/files/1794922/HERE_logo.pdf)

[2018-03-09 01:55] nicoddemus commented on #70
@claudep indeed, we use it in production on Windows for some time now without any problems.

[2018-03-09 09:37] claudep commented on #107
@yjf0824 with svglib master, there is a bit more chances your fonts display correctly. Could you test?
If it's not the case, could you provide the SVG source, your OS type, and the font file name on your system (if you can find it)?

[2018-03-09 09:38] claudep commented on #89
Would be great if you could test again the result with the more recent svglib code.

[2018-03-10 15:24] claudep opened #115 "Support rgba-type colors"
Only rgb(...) colors are supported for now. Opacity should be set by the a value.

[2018-03-10 16:48] claudep commented on #111
@jsvachon2 Could you please also attach the expected output as image?

[2018-03-10 17:39] htgoebel commented on #89
On my system, at least "Verdana" is no longer "Helvetica". (Curiously it is DejaVuSans, Verdana is not installed on my system).
The text in Dingbats is now gives:

[2018-03-11 08:15] claudep commented on #89
If the font is not installed on your system and Fontconfig is available, the used font will be indeed the Fontconfig default, which is `DejaVuSans` on many Linux systems. WOUld you suggest some other behavior?

Note that the font name in the standard fonts is `ZapfDingbats`. Do you have a `Dingbats` font installed on your system?

[2018-03-15 00:22] mattmccormick opened #117 "ZeroDivisionError: float division by zero"
When calling `svg2rlg` with the SVG file below, I get a ZeroDivisionError

[code]

[code]

[2018-03-15 08:22] claudep commented on #117
That path is problematic:
``<path d="M334.500000 0.000000 A185.000000 185.000000 0 0 1 334.500000 0.000000 L334.500000 185.000000 A0.000000 0.000000 0 0 0 334.500000 185.000000 z"/>
``
It positions the start point to (334.5 0) and then ask to draw an elliptical arc to the same point. We need to catch this scenario somewhere.

[2018-03-15 23:31] deeplook commented on #117
@mattmccormick Your sample SVG code above renders only as two labeled color swatches when using Preview on a Mac and crashes Inkscape immediately. To me the nested `svg` elements look suspicious, too. How did you generate that?

@claudep Apart from that, the spec does not seem to forbid elliptical arcs with same start/end points, see https://www.w3.org/TR/SVG/implnote.html if I understand that cor

[2018-03-16 10:27] claudep commented on #117
Ah yes: `If the endpoints (x1, y1) and (x2, y2) are identical, then this is equivalent to omitting the elliptical arc segment entirely.` The test is fine but I may try to short-circuit sooner in the code.

[2018-03-16 15:09] replabrobin commented on #101
We have made some improvements in reproducibility of the reportlab code. We now try to support the SOURCE_DATE_EPOCH environment variable; there is also the rl_config.invariant flag which may be used to make certain bits of reportlab more reproducible. However, as you discovered the random hashing introduced recently means that dictionary order is no longer constant.

[2018-03-16 15:12] nicoddemus commented on #101
@replabrobin thanks for info.

Indeed, but now that dicts in Python 3.6 are ordered, this might no longer be an issue in that Python version. I will check if this and report back with what I find.

[2018-03-21 01:36] lmortimer opened #119 "Coloured markers get filled with black upon rendering as PDF"
I've got a simple matplotlib graph with one red and one green marker. Saving the figure as svg it renders correctly (attached graph.svg). When I draw the same graph on a reportlab Canvas and save it the markers are now filled with black (attached document.pdf).

Any idea on what is causing this behaviour? This is on Python 2.7, Ubuntu 14.04 running with the latest versions of reportlab and svglib

[2018-03-21 09:06] claudep commented on #119
Thanks for the report, I tracked the bug to the `style` attribute of `<use>` nodes not taken into account.
You might try the following patch:
[code]

[2018-03-21 10:01] claudep commented on #119
My initial diagnostic was not the good one, the issue was more perverse! Finding attributes from parents was short-circuited when the node had a `style` attribute.

[2018-03-21 10:32] #119 closed

[2018-03-21 11:22] matthiastns opened #121 "When using viewBox attribute, canvas size is not scaled to width and height of svg attribute"
When trying to convert the following svg to png

[code]

I receive a png that is only 80px x 80px.
It should be 1250 x 1250 and the rect should be scaled accordingly.

(svglib 0.8.1 python 3.6.4 Windows 7)

[2018-03-21 23:49] lmortimer commented on #119
Thanks for fixing this. Could you give me an estimate of when you will publish a new release on pypi?

[2018-03-22 07:54] claudep commented on #119
@deeplook is the releaser.

[2018-03-23 07:43] deeplook commented on #119
I am looking actively for some tool to help producing releases more quickly, because the frequently I do it the more I forget about the entire process/procedure... Any suggestions are highly appreciated. I've found here and there some helpers used by some projects, but maybe I need to combine some of that.

[2018-03-23 07:54] claudep commented on #119
Documenting the release process (for example in the Wiki, https://github.com/deeplook/svglib/wiki) could be a first step, because then people might suggest improvements/tools to improve the process.

[2018-03-23 10:05] deeplook commented on #119
Good idea. I rushed away and created this initial page: https://github.com/deeplook/svglib/wiki/Release-Process

[2018-04-03 15:12] jdgwf opened #124 "PDF Export with Embedded SVG"
I've created the following test SVG (I've simplified this ugly example immensely after discovering this issue):

**SVG Preview Screenshot**:
![screenshot from 2018-04-03 10-09-15](https://user-images.githubusercontent.com/316824/38258132-4e1b47ac-3727-11e8-8402-5e5646217be3.png)

**PDF Render**:
![screenshot from 2018-04-03 10-09-37](https://user-images.githubusercontent.com/316824/38258152-5762d0

[2018-04-03 15:13] jdgwf commented on #124
Here's the svg as a txt file:
[drawing.svg.txt](https://github.com/deeplook/svglib/files/1872119/drawing.svg.txt)

[2018-04-03 15:17] claudep commented on #107
Without any feedback from reporter, I assume the issue is fixed in master.

[2018-04-03 15:17] #107 closed

[2018-04-03 15:19] claudep commented on #124
Yes, it's known that embedding SVGs is currently buggy (this was revealed by the `Slovenia.svg` flag output in the current test suite).

[2018-04-03 15:21] jdgwf commented on #124
I apologize for the duplicate ticket then. Any suggestions where to look to help squash this bug? I'll be mulling over the code to help patch this :)

[2018-04-03 15:27] claudep commented on #124
No need to apologize, there was no properly-named ticket about this until now.
The problem is probably around the `renderSVG` method, which assumes it is always the top-most node of the file.
https://github.com/deeplook/svglib/blob/master/svglib/svglib.py#L526

[2018-04-03 15:28] claudep commented on #83
Issue #124 should address the SVG embedding problem.

[2018-04-03 15:47] jdgwf commented on #124
Ok I have a working Alpha quality patch - testing now
![screenshot from 2018-04-03 10-46-45](https://user-images.githubusercontent.com/316824/38260111-5d7c94f8-372c-11e8-9a51-c8b59f9b6744.png)

[2018-04-03 15:47] jdgwf commented on #124
Looks like I may have to open a pull request once I'm more sure ;)

[2018-04-03 15:49] claudep commented on #124
Show us the code, dude :-)

[2018-04-03 15:49] jdgwf commented on #124
Scaling needs to be fixed...

[2018-04-03 15:51] jdgwf commented on #124
Here are the two functions I've applied code to class SvgRenderer:

    def __init__(self, path=None,color_converter=None):
        self.attrConverter = Svg2RlgAttributeConverter(color_converter=color_converter)
        self.shape_converter = Svg2RlgShapeConverter(path,self.attrConverter)
        self.handled_shapes = self.shape_converter.get_handled_shapes()
        self.definitions = {}

[2018-04-03 15:51] jdgwf commented on #124
translate works, but I have a scale issue to work through. Still learning the class/object.

[2018-04-03 16:19] jdgwf commented on #124
Still hacky. Here's the code that's working on my fairly complex SVG:

    def renderSvg(self, node):
        getAttr = node.getAttribute
        width, height = map(getAttr, ("width", "height",))
        width, height = map(self.attrConverter.convertLength, (width, height))

        x, y = map(getAttr, ("x", "y",))
        x, y = map(self.attrConverter.convertLength, (x, y))

        viewBox = ge

[2018-04-03 16:20] jdgwf commented on #124
Ignore the debug print(), of course ;)

[2018-04-04 11:38] #93 closed

[2018-04-04 13:12] claudep commented on #104
I was able to reproduce with this minimal svg:
`<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="224" height="124">
<polygon class="#AC2F75" fill="#AC2F75" points="122,87 122,88 123,88 123,89 124,89 124,90 126,90 126,89 128,88 128,89 129,89 129,91 128,91 128,92 130,99 130,100 129,100 126,103 125,103 125,104 126,106 130,87 129,87 129,86 126,86 126,87"/>
</svg>`

If I remove the `main_gr

[2018-04-04 13:57] #124 closed

[2018-04-06 12:52] Overdrivr opened #128 "Draw to numpy array"
Is there a way to draw SVG to memory, such as numpy array, instead of files ?

The only workaround I see for now is to draw to a temporary file, and load it afterward, but that's not great

[2018-04-07 16:14] claudep commented on #128
Please precise your question as we do not draw SVG, we read SVG and draw to PDF or other Reportlab-supported output formats.

This is more a ReportLab question than a svglib question, but we could add in our README that `drawToFile` accepts any file-like Python objects, or that one can use the (misnamed) `drawToString` API to get the content as a binary buffer.

[2018-04-07 23:16] deeplook opened #132 "Add more badges to README"
Examples could be reference to PyPI, etc. We could copy some from those projects with lots of them, where they make sense.

[2018-04-07 23:23] deeplook opened #133 "Add a CONTRIBUTING.rst file"
This would help in general and would also make GitHub happier. A possible example is here, but there should be some more Pythonic versions out there: https://github.com/opengovernment/opengovernment/blob/master/CONTRIBUTING.md

[2018-04-08 10:43] deeplook commented on #132
Added PyPI badge as a starter in https://github.com/deeplook/svglib/commit/d25b6e6ced4d24e849e4ffefe4cc2448f336ac31.

[2018-04-08 18:48] claudep commented on #128
Can this question be considered answered with commit  d97e237 ?

[2018-04-09 06:47] #128 closed

[2018-04-09 06:51] claudep commented on #128
I hesitated about mentioning `drawToString`. However, I generally think it's better practice to create the file object and pass it to `drawToFile`, because then you know exactly what type of file object you have in your hands.

[2018-04-09 14:26] Overdrivr commented on #121
@tomturner  Anything I can do to help getting this merged ? I recently switched a project from cairoSVG to svglib, and it's the only thing that's still preventing me from completing the transfer.

[2018-04-09 16:05] claudep commented on #121
@Overdrivr just for my own curiosity, why are you switching back from cairoSVG?

[2018-04-09 16:37] Overdrivr commented on #121
Because of the dependency on cairo. I'm fed up with dependencies that are a total mess to install and maintain. Also, now with pipenv enforcing good practices for dependency management, software that rely on hacks to install 3rd party dependencies are doomed to disappear.

[2018-04-09 16:42] Overdrivr commented on #121
BTW in case someone else cannot wait for this patch as well, I have merged this patch with latest master in my own repository, it's available here: https://github.com/cronobo/svglib/tree/i121-viewbox-img-dims
All credits to @tomturner

[code]

I have not checked if it passes CI, I cannot guarantee it's working ok. But it passes extensive unit testing of my own application, so that's a good sign th

[2018-04-09 20:59] tomturner commented on #121
@Overdrivr I need to do some test before I submit the patch again. Hopefully @claudep or @deeplook will then approve it as I need it too. @Overdrivr Have you got a test SVG i can use?

[2018-04-10 14:25] claudep commented on #121
I may not have fixed all concerns in PR #134, but your opinions and tests are welcome there.

[2018-04-11 10:56] tomturner commented on #121
@claudep did you see my new code?

[2018-04-11 11:06] claudep commented on #121
Tom, could you make a new PR then?

[2018-04-11 20:23] driscollis opened #135 "Adding an svglib drawing to a Flowable raises AttributeError"
I just tried to add an svglib drawing to a document template in ReportLab and I must be doing something wrong. I am betting the following traceback:

[code]

Here is the sample code:

[code]

I don't see anything in the tests that actually uses Flowables with svglib, but perhaps I am missing something?

[2018-04-11 21:01] deeplook commented on #135
@driscollis Which version of svglib are you using? I've tried your example with 0.8.0 (a version available on some random machine) and the [Flag of Cuba](https://upload.wikimedia.org/wikipedia/commons/b/bd/Flag_of_Cuba.svg) used in the test suite and it works ok for Python 2.7 and 3.5. But flowables introduce a different set of potential issues, as they make assumptions and tests about what fits i

[2018-04-11 21:12] deeplook opened #136 "Add some decent documentation to go on readthedocs.org, too"
Content to be fleshed out in this ticket first, and then in the Wiki, later...

[2018-04-12 08:42] gbtami opened #137 ""Warning: there is no support for Windows, sorry for that!" on PyPI"
Please update the readme file on PyPI !

[2018-04-12 13:07] replabrobin commented on #135
The drawing that is returned is a flowable and can be used to render pdf/png/... with a save or can be added to a story. It's possible that the converted svg image that was returned represented something that would not fit into the frame.

[2018-04-12 13:10] driscollis commented on #135
I am using 0.8.1 with ReportLab 3.4 on Python 2.7 on Xubuntu 16.04. I will try using the flag and see if it works on my machine. By the way, I forgot to link to my source code so that you would have access to the SVGs I am using, so here it is: https://github.com/driscollis/reportlabbookcode/tree/master/appendix_a_svg

[2018-04-12 13:11] driscollis commented on #135
@replabrobin Yeah, maybe I should have scaled it first? Or would that have worked?

[2018-04-12 13:17] driscollis commented on #135
I tried the flag of Cuba SVG and it works, even though it is too large and so the right side gets clipped. I also tried using a Python logo SVG from the repo I linked to and it doesn't through an error, but it just creates a blank PDF. I also get this weird message on stdout when I use it:

No handlers could be found for logger "svglib.svglib"

[2018-04-12 13:27] driscollis commented on #135
Well that doesn't make sense. I just downloaded it from there on my Windows machine and it worked there. Make sure you are downloading the RAW version though.

[2018-04-12 13:28] driscollis commented on #135
Github won't let me attach an SVG, so here it is as a zip file:

[snakehead.svg.zip](https://github.com/deeplook/svglib/files/1903290/snakehead.svg.zip)

[2018-04-12 13:51] replabrobin commented on #135
I was hitting the github page and it wasn't at all raw :(; have cloned the repo now though. I do see a drawing coming out in my runs. It's offset to the right, but I suspect that's an issue related to margins etc etc.

[2018-04-12 14:07] replabrobin commented on #135
This works better for me to get the image onto the A4, but the SimpleDoc class isn't really good enough to handle this as the Frame is not controllable (not there until build time).

`from svglib.svglib import svg2rlg
from rlextra.thirdparty.svg.svglib import svg2rlg
def svg_demo(image_path, output_path):
	drawing = svg2rlg(image_path)
	doc = SimpleDocTemplate(output_path)
	doc.leftMargin  = 0
	do

[2018-04-12 14:13] driscollis commented on #135
That's cool. I changed my code to just set the margins in the constructor:

[code]

This works

[2018-04-12 14:14] driscollis commented on #135
Note that it doesn't fix the oddball python_logo.svg one, but that should probably be a separate issue.

[2018-04-12 14:14] replabrobin commented on #135
Unfortunately there's padding in the Frame that gets built into SimpleDoc so the image is still offset to the right (by 6 points I think).

[2018-04-12 15:33] claudep commented on #135
This code snippet should be adapted and integrated in the docs (README for now).

[2018-04-12 15:40] replabrobin commented on #135
I looked at the python_logo issue; first problem is that the colours are defined as gradients which I don't think the RL graphics api doesn't handle. I suspect the PDF renderer could be easily extended to cope, but the PS, PM  etc etc wouldn't like it.

Second the output seems to have lost track of the x & y. If I hack to get the colours OK then the image is still mostly off screen.

[2018-04-12 15:44] driscollis commented on #135
@claudep Feel free to use any of my examples in your documentation as well if any of them are useful for that sort of thing

@replabrobin Thanks for looking into the python_logo issue. You needn't worry about it. I was just trying out a handful of different SVGs

[2018-04-12 19:59] deeplook commented on #132
Todo: Add more like those used in https://github.com/python-telegram-bot/python-telegram-bot/blob/master/README.rst

[2018-04-12 20:00] deeplook commented on #137
This will be updated with the next release.

[2018-04-12 20:04] gbtami commented on #137
Just noticed.
Thx for svglib!

[2018-04-12 20:04] #137 closed

[2018-04-13 10:38] claudep commented on #121
@tomturner can you confirm you're working on a new PR?

[2018-04-13 10:42] #117 closed

[2018-05-08 16:44] nicoddemus commented on #101
Hi,

Indeed with Python 3.6 the problem goes away: `svglib` now always generates the same image files in separate executions (albeit different from files generated in Python 2.7). This indicates that the suspicion about the problem being the random order of dicts in Python>3,<3.6 is correct.

For my purposes it is sufficient to use Python 3.6 and upwards now that Python dicts will always preserve

[2018-05-10 15:32] charles-wright opened #139 "Issue with nested svg tags, producing incorrect image."
using svglib-1.8.1, Python 3.6.2 :: Anaconda custom (32-bit)
installed using pip

I am working with svg files where I need to used nested svg tag to establish local coordinate reference frames.  The library does not produce the appropriate output with nested tags.  I reduced the examples to a very minimal level.

_Unfortunately the issue editor does not support attaching SVG or python files so I w

[2018-05-10 15:49] claudep commented on #139
We've added some embedded SVG support in https://github.com/deeplook/svglib/commit/ed72ad538fa8a597031ecbf03e1352a06595346b (only in master, unreleased). It would be great if you could test your use case with the master branch.

[2018-05-10 16:33] deeplook opened #140 "Make a new release 0.9.0, RSN"
There have been many requests for a new release of svglib on PyPI, which I have procrastinated for way too long (my sincerest apologies!). I've collected some thoughts in https://github.com/deeplook/svglib/wiki/Release-Process, but in the end it will likely happen rather by mimicking a few techniques I found to be successfully used when instantiating projects with https://github.com/audreyr/cookie

[2018-05-10 16:35] claudep commented on #140
I'm happily using `twine` for some of my projects.

[2018-05-10 16:37] claudep commented on #140
I wonder if it would be worth shipping #116 (CSS support) in that release, even if it's not polished (better than no support at all?).

[2018-05-10 16:39] charles-wright commented on #139
I originally started with a conda install, but uninstalled it, then did a simple pip install which got me the 0.8.1 version.  I will uninstall that as well and try the repo version.

[2018-05-10 16:39] deeplook commented on #140
I would put in everything new since 0.8.1, as simple as that.

[2018-05-10 16:41] deeplook commented on #139
Thanks for mentioning conda! We also need to find a way to create releases for conda automatically, somehow. More in https://github.com/deeplook/svglib/issues/140.

[2018-05-10 16:42] claudep commented on #140
Well, PR #116 is not merged yet, that's why I'm asking.

[2018-05-10 16:48] deeplook commented on #140
I won't have any time to test this in any other way than reviewing code and test cases, and build results from travis-ci. Just looked briefly now. Will comment in https://github.com/deeplook/svglib/issues/116.

[2018-05-11 13:27] charles-wright commented on #139
I uninstalled via pip again, and made sure report lab as removed as well.  I used your pip command and it installed via git, and included report lab as well.  No change in output.

[2018-05-13 20:25] deeplook commented on #139
@charles-wright Sorry for the late reply, please have a look at `TestSVGEmbedded` in `/test/test_basic.py` which declares an XML namespace for the `svg` element. Could you retest after setting such a namespace?

[2018-05-14 13:56] claudep commented on #139
Depends on what you call "internal" style. An example snippet would be nice.

[2018-05-14 14:01] charles-wright commented on #139
Here is a simple example:

[code]

[2018-05-14 14:03] claudep commented on #139
Thanks, that is indeed unsupported in current released versions. I merged partial support for style sheets in master yesterday.

[2018-05-14 14:15] charles-wright commented on #139
Thanks.  Closing this issue.

[2018-05-14 14:15] #139 closed

[2018-05-14 18:45] charles-wright opened #141 "Percentage width not working properly on rect."
Trying to create a background bar at the top of the svg area and put text on top of it.

[code]

Resultant image:
![file 1](https://user-images.githubusercontent.com/38887387/40016566-b4d70724-5784-11e8-9c07-7f60be77d3c9.png)

The gray bar should extend across the width of the svg tag.

[2018-05-14 18:53] claudep commented on #141
That's true. The `percentOf` parameter of `Svg2RlgAttributeConverter.convertLength` is never provided in the current code. Might not be trivial to fix.

[2018-05-24 13:57] charles-wright opened #142 "Support pattern fills."
A request for supporting patterns.  (I imagine this is not trivial).

[2018-05-24 15:18] claudep commented on #142
I'm not sure ReportLab support patterns. That would be the first question to answer.

[2018-05-24 19:34] charles-wright commented on #139
Just a follow up.  Nesting works if the child svg(s) are in a group.  Without the group there are still issues.

[2018-05-25 07:49] replabrobin commented on #142
I don't determine what get's worked on unfortunately. I think setting up patterns in PDF is quite hard. First off we need to define Pattern objects; these are somewhat similar to forms in that they have resources etc etc. If we have defined patterns then the next step would be to allow them to be used as colours in the rl tk.

We have some contributed code (Peter Johnson <johnson.peter@gmail.com>)

[2018-07-17 00:35] MinchinWeb opened #146 "`svg2pdf` command doesn't work on Windows"
on Windows, running the `svg2pdf` command asks what you want to open the `svg2pdf` (no file extension) file with, rather than running the conversion.

This can be fixed using the `console_script` key in `setup.py`.

[2018-07-17 00:37] MinchinWeb opened #147 "two version 0.8.1 tags"
it seems there are two tags for version 0.8.1

- https://github.com/deeplook/svglib/tree/v0.8.1/
- https://github.com/deeplook/svglib/tree/v.0.8.1/

One should probably be removed...

[2018-07-17 00:39] MinchinWeb commented on #147
For what it's worth, they at least point to the same commit...

[2018-07-17 00:44] MinchinWeb commented on #140
I would add a request for a new PyPI version. There's a small error in version 0.8.1 (and 0.8.0) where `xrange` [is called](https://github.com/deeplook/svglib/blob/v0.8.1/svglib/svglib.py#L747), but that function is not available on Python 3. So right now, Python 3 compatibility is broken. But the this has been fixed on GitHub.

Thanks for the library!

[2018-07-31 07:21] Maverick-R opened #148 "Cannot convert"
I have a svg file that generated by pygal, it can't be successfully converted to png file, I got a total black picture。[](url)

[2018-08-01 10:06] claudep commented on #148
Could you test with the master code, too?

[2018-08-02 17:26] deeplook commented on #148
@Maverick-R, that's really not a lot of actionable information.

[2018-08-04 19:30] claudep commented on #148
Feel free to reopen the ticket if you can reproduce the problem with the master branch.

[2018-08-04 19:30] #148 closed

[2018-08-06 13:09] Overdrivr commented on #140
Would you like some help for automating the release of the library ?
Something I rely extensively on is configuring appveyor/travis to deploy only on tags.
This way, the only thing you need to perform a release is to create a new tag in Github.

[2018-08-06 13:13] Overdrivr commented on #121
Hi folks, any updates on this ? Otherwise I can open a PR from my repo. I'll add the necessary tests, but otherwise, according to my own application test's suite and extensive use, the modifications on my repo are definitely healthy.

[2018-08-06 15:01] deeplook commented on #140
@Overdrivr We have appveyor and travis set up for svglib. As you offer help that might accelerate things. I would like to keep appveyor and travis checking every commit, but if we can have releases with every new tag that would be fine. If you have more info to point me to I will be glad to have a look!

[2018-08-06 15:44] Overdrivr commented on #140
Both things are not exclusive, on the contrary. Basically the idea is to run the same build & test suite, whether it's a simple commit or a commit with tag. And simply on tags, go the extra step and push to pypi.

I'll open a PR then, it will give you a better idea.

[2018-08-06 16:08] #101 closed

[2018-08-06 19:28] deeplook commented on #146
@MinchinWeb would you like to do it yourself?

[2018-08-06 19:33] deeplook commented on #142
@replabrobin Does this mean the code for true radial/axial shading is already in reportlab, but can be used only for PDF output? If so I think that would still be very valuable for svglib.

[2018-08-06 19:37] deeplook commented on #104
@replabrobin Robin, any idea if this is really an issue with reportlab? Thanks!

[2018-08-06 22:43] MinchinWeb commented on #146
Sure, but I'm not sure my timeline; I'm about to leave on vacation.

[2018-08-07 06:08] replabrobin commented on #142
There is code to perform radial / axial shading in reportlab, but it is PDF only and there's no real connection with the graphics code or colours. The example works directly onto a canvas in test_platypus_general.py

`
    ############# colour gradients
    title = 'Gradients code contributed by Peter Johnson <johnson.peter@gmail.com>'
    c.drawString(1*inch,10.8*inch,title)
    c.addOutlineEntry

[2018-08-07 07:46] replabrobin commented on #104
I think this is almost certainly an issue with the underlying libart library which we use to render the images. It looks as though the fill scanlines are just escaping from the confining polygon. In debian at least they want to abandon libart. I updated to latest debian code recently and found one (possibly serious) difference to the code which we have carried around for ages.

Oddly the problem d

[2018-08-07 12:03] Marxpark opened #149 "python 3.7 xrange problem"
Hello,

i'm trying to use this on python 3.7 and svg2rlg crashes xrange is not defined.

    drawing = svg2rlg("test.svg")
  File "/Users/user/dev/offline-signer/venv/lib/python3.7/site-packages/svglib/svglib.py", line 1040, in svg2rlg
    drawing = svgRenderer.render(svg)
  File "/Users/user/dev/offline-signer/venv/lib/python3.7/site-packages/svglib/svglib.py", line 373, in render
    main_group

[2018-08-07 12:30] claudep commented on #149
Was fixed in 6eb609fb2a23.

[2018-08-07 12:30] #149 closed

[2018-08-14 20:05] replabrobin commented on #104
The latest release of reportlab 3.5.5 contains a probabilistic fix,  Looking in the code it seems randomization is a standard way to fix stability issues. Hope it works for svglib.

[2018-08-17 21:34] deeplook opened #155 "Embedded PNG file crashes svglib when PIL is not available"
Running tests for a release on Python 3.6.3, reportlab 3.4.0 I found this. The PNG embedded in `tests/samples/others/png_in_svg.svg` causes a call to reportlab's `readJPEGInfo`function which seems suspicious. Will run other tests first...

[code]

[2018-08-17 22:07] deeplook opened #156 "Reportlab unable to find Arial font"
When running this from the test suite, on reportlab 3.4.0 I get an error indicating some ArialMT file was not found:

[code]

My reportlab/fonts folder in this case (barely ever used) has this content, where nothing looks like Arial. On reportlab.com I have not found immediately some additional fonts to install. And I have likely never touched `rl_config.py` in this installation. @replabrobin any

[2018-08-18 10:31] claudep commented on #155
This is because PIL/pillow is not installed (`Imaging Library not available`).

What should we do in that case? Check PIL availability ourselves, ignore and warn if not available?

[2018-08-18 11:31] deeplook commented on #155
Amazing it slipped for so long. And also that Travis/Appveyor seem to get it right, isn't it?

If it's worth to make Pillow a requirement is a good question. It sort of has no competition, but with so little forseeable usage I tend to simply issue a better warning, instead, for now.

[2018-08-18 19:45] claudep commented on #155
What about the above patch?

[2018-08-19 08:51] deeplook commented on #155
One might even add `# pillow` to `requrements.txt` so it is clearly visible there as an optional dependency.

[2018-08-19 10:33] deeplook commented on #140
https://pypi.org/project/svglib/0.9.0b0/ has been just published, although it's not automatically visible when going to https://pypi.org/project/svglib/, most likely because of the beta0 flag.

[2018-08-19 11:02] deeplook commented on #147
Thanks! I've just deleted the v.0.8.1 sibling of v0.8.1.

[2018-08-19 11:02] #147 closed

[2018-08-19 11:08] deeplook commented on #140
Let's have two weeks of testing and clean-up and then make a final release 0.9.0!

[2018-08-19 18:32] claudep commented on #155
Or in `setup.py` `extras_require`?

[2018-08-19 19:55] deeplook commented on #155
Don't think I've used that before and this article rather discourages using it: https://hynek.me/articles/conditional-python-dependencies/

[2018-08-21 15:50] replabrobin commented on #156
The message indicates that the renderPM graphics state is being induced to use a font 'Arial' without that font being registered. I assume Arial is a reference to a font like MS has. Those are usually TTF and as we don't have a magic search by name for such fonts they must be registered using the normal registration mechanism.

On windows you can usually get 'arial' using

from reportlab.pdfbase.p

[2018-08-31 09:09] deeplook commented on #140
I was planning to release 0.9.0, without beta in 1-2 days. Not much has happened during the last two weeks, but I'll do it nevertheless, because then this version gets more visibility on PyPI, and might trigger some more motivation to clean-up stuff and go for 1.0.

Maybe @nicoddemus could provide some insight about how to create conda packages, too, if I promise to buy his [new book](https://www.

[2018-08-31 09:12] claudep commented on #140
That's why I prefer releasing plain .0 packages, then release .1 quickly if bugs arise. beta makes sense when you really know that people will make the extra effort to test those versions, which is unfortunately pretty rare (and which they could also do by pip-installing from Github directly).

[2018-08-31 10:27] nicoddemus commented on #140
Hehehe gladly. 😁

[2018-09-04 07:15] #155 closed

[2018-09-04 08:24] deeplook opened #159 "Fix fontconfig error on MacOS"
This was created to handle better the discussion in https://github.com/deeplook/svglib/commit/e1a462cdd9ed97acf51d5b9d5941bcb555a975b2#diff-e6e044b14a79cba500110ac3f00978da. More details to come. Found on svglib 0.9.0b0, MacOS 10.13.4, Python 3.6.5, reportlab 3.5.6. This is the bare bones traceback:

[code]

[2018-09-10 18:52] deeplook commented on #156
@replabrobin Isn't this somehthing that [fontconfig](https://en.wikipedia.org/wiki/Fontconfig) is intended to solve?

[2018-09-10 18:54] deeplook commented on #159
@claudep Sorry, I've lost a bit track on this. Anything else you needed or wanted?

[2018-09-10 20:13] claudep commented on #159
Yes, it would be instructive to know the exact path/error in `find_font()` which makes the function return `NOT_FOUND`.

[2018-09-17 08:46] replabrobin commented on #156
Theoretically yes, but only if you ask it the right questions; I am almost sure it can be made to work on windows and osx, but it's an extra large dependency for reportlab. Nothing prevents end users from using such a tool, but fontconfig itself is not easy to use.

[2018-09-23 20:24] deeplook opened #161 "Get feedback about moving to GitLab"
I'm experimenting with a new project on GitLab, and if successful, might think about moving this project there, maybe in 2019. GitLab provides many additional features over GitHub, including integrated CI (supporting Unix, Windows, macOS). The community is surely smaller than GitHub's, but constantly growing and attracting ever more projects to move from GitHub especially since it was taken over b

[2018-09-24 06:40] claudep commented on #161
I'm fine with moving the code on GitLab. I did it for some of my projects and the switch was a matter of minutes!

[2018-09-24 07:39] Overdrivr commented on #161
I use extensively Gitlab for work projects, and overall I'm very happy with it.

However, for open-source projects, I am not sure a Gitlab project has the same visibility as a Github one (in terms of SEO), and personally, I also prefer how Github displays things like README, issues, etc.

Also, there are still some technical issues to resolve with Gitlab from time to time. Currently, per week, I h

[2018-09-24 11:17] deeplook commented on #161
@Overdrivr Thanks for the info! I also use GitLab at work, although not as much as I would like. With gitlab.com I'm surprised to see what is hopefully not a general performance issue but rather one related to my free plan, e.g. 13 seconds response times for very simple API calls like `GET https://gitlab.com/api/v4/snippets`...

[2018-09-27 10:10] mrgou opened #163 "name 'xrange' is not defined"
Hi,

Whenever I try to load an svg file, e.g. "drawing = svg2rlg('file.svg')" or running svg2pdf, I get the following error:

    NameError: name 'xrange' is not defined

which, as far as I know, is due to running Python 2 code in Python 3.

I run python 3.6 and installed svglib with pip, so why does this happen?

Thanks!

R.

[2018-09-27 11:32] deeplook commented on #163
I suspect because you use an old version of svglib? Telling which version you use would be considered a "best practice" if you want people to help.

[2018-09-27 12:14] mrgou commented on #163
I use version 0.8.1. Since I installed it using PIP (pip install svglib), I didn't think it possible to even install a non-current version. I ran "pip install --upgrade svglib" just to be sure, but all requirements were already statisfied.

[2018-10-04 23:52] nicoddemus commented on #140
By the way, there's already a [conda-recipe in conda-forge](https://github.com/conda-forge/svglib-feedstock), so as soon as this is released to PyPI the conda-forge bot will automatically update the recipe. 😁

[2018-10-12 09:43] MEmmanuel commented on #163
Well, I read the README, and fell into the exact same bug because README don't mention 0.9.0b0 anymore. and I read "run on Python 2.7 and Python 3.5 and 3.6" and "pip install svglib"

[2018-10-12 13:41] jdgwf commented on #140
It's me again! If you add

[code]
Just below the imports

it works perfectly again in python3.6 :)

[2018-10-12 13:42] jdgwf commented on #140
( too small of a  change to make a PR, I will if you need me to )

[2018-10-12 13:50] deeplook commented on #140
@jdgwf No need for a PR because of https://github.com/deeplook/svglib/issues/163.

[2018-10-12 13:59] jdgwf commented on #140
My apologies; I'm a lazy contributor. I've been swamped this year and just made a quick fix for a personal project. I'll be better, I promise! 💚

[2018-10-12 14:02] nicoddemus commented on #140
@deeplook you might consider also using [setuptools-scm](https://github.com/pypa/setuptools_scm) and Travis for deployment. I use it in a number (almost all) my open source projects and works like a charm. 👍

[2018-10-12 14:12] deeplook commented on #140
@nicoddemus Thanks, will have a look. But before that I'll push a real 0.9.0, RSN...

[2018-10-12 14:47] jdgwf opened #164 "Embedded Image Question (what am I doing wrong?)"
Getting the following error with the following SVG code ( made the test file as small as I could, for the image coudn't be attached).

My RegEx skills are rusty, but I believe the SVG code is valid.

This breaks whether it's an embedded base64 or a file reference.

[2018-10-12 15:08] jdgwf commented on #164
It's got to be something in my hand-written svg. An embedded inkscape with the same images file works fine.

[2018-10-12 15:08] #164 closed

[2018-10-12 15:13] jdgwf commented on #164
FYI It was my SVG Headers.
replacing the following element with:

[2018-10-13 16:51] brlodi commented on #163
I'm also going to add on to this, because I also read the README and encountered the same issue. The README certainly *mentions* 0.9.0b0 in several places, but it doesn't say anywhere that the stable release (0.8.1) is known to be broken on 3.7 and users should manually specify the beta when installing.

At best "run on Python 2.7 and Python 3.5 and 3.6" is a clue that the issue may be from runnin

[2018-10-13 16:52] MinchinWeb commented on #146
@deeplook : Pull Request created! #165

[2018-11-27 14:07] msom commented on #140
What is the current state? Can you make the release 0.9.0?

[2018-11-27 21:14] deeplook commented on #140
I guess I will simply make that release without any further ado within 1-2 days. I’ve learned that making the beta0 was a bad idea, but I also didn’t know that PyPI would sort of hide beta releases.

In the meantime I’ve also learned to continuously make more or less sloppy mini commits and silly releases (fighting with a README I wanted to be in markdown format) by the dozens from browsers, and m

[2018-11-28 04:16] MinchinWeb commented on #140
My two bits: make it easy (on you) to make releases (ideally single command to build, package, and ship), and then release early and often. If you hue to SemVer, then upgrading on the user end isn't a huge pain either.

[2018-12-08 11:21] msom commented on #140
Any news on that?

[2018-12-08 23:42] deeplook commented on #140
I've just manually published 0.9.0. Again, sorry for the way to long delay! Life is not always going as expected.

[2018-12-08 23:45] deeplook commented on #161
Deferring any real move to some unspecified point in the future...

[2018-12-08 23:45] #161 closed

[2018-12-08 23:49] deeplook commented on #133
Done in https://github.com/deeplook/svglib/commit/3538b019ce32aa816a95941a60ce17e2a1c81796.

[2018-12-08 23:49] #133 closed

[2018-12-10 12:03] #140 closed

[2018-12-10 21:41] #132 closed

[2018-12-10 21:58] deeplook commented on #98
*Message to forkers of this repository*

If you have an old fork of this package published on [pypi.org](https://pypi.org), please consider marking it as stale or even remove it from there as the latest version, 0.9.0, has been much improved over previous ones from some years ago, especially those before v. 0.8.0. This might help reduce some potential confusion for new users searching for a librar

[2018-12-25 18:49] louis-gallo-cigna opened #170 "Rendering SVG Images Breaks in SVGLIB 0.9.0. Works Fine in 0.8.1."
I notice that my rendering of SVG images into a PDF breaks when running svglib 0.9.0. It will take my color SVG chart images and render them into really bad black and white chart images in the PDF. If I downgrade to svglib 0.8.1, everything is fine.

    from reportlab.graphics import renderPDF
    from reportlab.pdfgen import canvas
    from svglib.svglib import svg2rlg
    #
    strMyTestSVGFile

[2018-12-27 17:34] louis-gallo-cigna commented on #170
Apologies, Deeplook. I have to get permission to upload the files from our Security folks. I will have these files uploaded shortly.

[2019-01-10 11:38] deeplook commented on #170
I'm closing this due to lack of further info. Please feel free to reopen when more info is available.

[2019-01-10 13:36] louis-gallo-cigna commented on #170
Sorry, I am not good with Github yet. The test files with both old and new version are attached.

[SVGLIB-0.8.1-NO-BUG-12242018-0000-to-12242018-1030-TEST-1.pdf](https://github.com/deeplook/svglib/files/2745491/SVGLIB-0.8.1-NO-BUG-12242018-0000-to-12242018-1030-TEST-1.pdf)
[SVGLIB-0.9.0-WITH-BUG-12242018-0000-to-12242018-1030-TEST-1.pdf](https://github.com/deeplook/svglib/files/2745492/SVGLIB-0.9.

[2019-01-10 14:14] deeplook commented on #170
@louis-gallo-cigna What I want is a minimal piece of code that reproduces a would-be bug.

[2019-01-10 14:57] claudep commented on #170
What's even more important is the SVG source. But yes, the smaller the example is the better.

[2019-01-15 12:45] deeplook commented on #170
Putting this on hold until more information is available.

[2019-01-15 12:45] #170 closed

[2019-01-25 09:17] gotounix opened #171 "How to make the png background transparent?"

[2019-01-25 10:34] deeplook commented on #171
I usually appreciate an illustrating code snippet, but I would hope @replabrobin might want to comment about the transparency features available for PNGs created with reportlab, before anybody does some code digging.

[2019-01-25 15:10] deeplook commented on #171
@gotounix Have you tried `renderPM.drawToFile(drawing, filename, fmt='GIF', configPIL={....})`? See https://github.com/eduardocereto/reportlab/blob/master/src/reportlab/graphics/renderPM.py (old reportlab mirror on GitHub...)

[2019-01-25 15:12] MrBitBucket commented on #171
At the moment the renderPM canvas is three colour only. I looked at various backends to replace, but have little time to really get into that. Libart lgpl is pretty much dead so unless anyone has suggestions for a replacement

[2019-02-17 15:23] louis-gallo-cigna opened #172 "Reopen Issue - Issues Between svglib 0.8.1 and 0.9.0"
Hi Deeplook,

My sincere apologies for not following back up with some issues with svglib creating poor quality monochrome issues when I upgrade to 0.9.0.

I think I may see what is going on, and it is probably my fault.

If I use 0.9.0 under Linux, I get error messages when the process runs.

Unable to find a suitable font for 'font-family:Nimbus Sans L'

If I downgrade back to 0.8.1, everything

[2019-02-17 21:20] claudep commented on #172
I think any report without a real example has about 0 chances to be solved, sorry. Please reopen when you can upload one.

[2019-02-17 21:20] #172 closed

[2019-02-24 17:29] Akuli opened #173 "passing file-like object to svg2rlg"
I want to use `svg2rlg` with `io.BytesIO`, but it wants a path to a file, and not a file-like object, so I need to create a `tempfile.NamedTemporaryFile`, copy the `BytesIO` content there, and then `svg2rlg` with that temporary file's name. This is a bit inconvenient, and can be slow with large files. Ideally `svg2rlg` could also take a file-like object instead of a path.

Currently `svg2rlg` has

[2019-02-24 21:08] claudep commented on #173
There is support for file-like objects, the test suite is using `StringIO` extensively as input. It might chokes on `BytesIO` as it expects text input. What's the error you get?

[2019-02-25 08:05] Akuli commented on #173
I didn't even try it because `svg2rlg` does `os.remove(path)` at the end. There's no way that could possibly work with file objects.

[2019-02-25 08:12] Akuli commented on #173
I read the code a bit more carefully. The `os.remove(path)` is for `svgz` files only anyway, but the `path` is passed to `SvgRenderer`. Then it passes it to `Svg2RlgShapeConverter`, which inherits its `__init__` from `SvgShapeConverter` that sets it to `self.svg_source_file`. The `Svg2RlgShapeConverter` then has code like `os.path.join(os.path.dirname(self.svg_source_file), xlink_href)` which woul

[2019-02-25 08:19] Akuli commented on #173
Reading the code even more: the `os.path.dirname(self.svg_source_file)` code runs only if the SVG contains images that are not embedded in it as base64, so I think it'll be fine for my needs. Might be nice to document this though. Sorry for the wall of text!

Which encoding should I use if I have an SVG file's content as bytes, and I want to create a `StringIO`-like file object from it? `utf-8`?

[2019-02-25 08:53] deeplook commented on #173
If you got up to here, you might want to contribute a patch I guess it would be well accepted.

On the encoding, I'd always start with UTF-8.

[2019-02-25 09:07] claudep commented on #173
Thanks for the explorations. I just added a fix/test in #174 to prevent a nasty crash in a case you mention.

[2019-02-27 17:57] Akuli commented on #171
Is there some way to specify the color that the transparency is replaced with? It seems to replace everything transparent with white. I'd like to use a different color instead to make that less noticable.

[2019-02-28 11:31] replabrobin commented on #171
The renderPM canvas has a background option as does renderPM.drawToFile; bg=0xff00ff would make the background red.

[2019-03-03 07:30] metro69 opened #175 "External svg image does not work"
I am trying to convert a simple svg that references another svg (see below).

Using svglib 0.9.0, reportlab 3.5.13.

test.svg is correctly rendered by Chrome.
svg2pdf returns with:
`Unable to read the image another.svg#rectangle. Skipping...`

Metro

test.svg:

`<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"

[2019-03-03 19:31] claudep commented on #175
You are right, this is not supported yet. First, support for external svg should be added, then targeting a specific element in an linked svg should be implemented (probably a bit harder).

[2019-03-03 19:42] claudep commented on #175
The pull request above is implementing the first stage of the fix only.

[2019-03-04 16:23] MatDec opened #177 "Add support for "marker-end"."
Hi,

I noticed svglib does not support the "marker-end" tag functionality for defining the arrowhead or polymarker at last vertex of a path.

<svg width="200" viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <marker id="triangle" viewBox="0 0 10 10"
          refX="1" refY="5"
          markerUnits="strokeWidth"
          markerWidth="5" markerHeight="5"
          orient="aut

[2019-03-04 23:15] deeplook commented on #177
Thanks for pointing this out! Sadly, I don't think this is likely to change, unless somebody jumps in and makes a code contribution.

[2019-03-10 01:44] metro69 commented on #175
Thanks. I can now include svg's into another svg by removing the '#rectangle' and render to pdf using svg2pdf.

However, the transform does not seem to work yet. For instance, the svg below puts both rectangles at the same location.

I assume that is part of the next phase fix. Is there something I can do in the interim?

Metro

[code]

[2019-03-10 20:45] claudep commented on #175
#179 should improve the situation, we are not far from being able to target an external fragment. Could you test it on your use case?

[2019-03-10 21:48] metro69 commented on #175
The last update seems like a step back. I uninstalled svglib and reinstalled directly from your repo:
`pip install git+https://github.com/claudep/svglib@xlink_href
`
None of the two rectangles show up anymore in the generated pdf.

Metro

[2019-03-10 21:50] claudep commented on #175
Thanks for trying, I will explore that in the next days.

[2019-03-11 19:21] claudep commented on #175
I added a new commit to #179 which might solve your issue.

[2019-03-12 05:20] metro69 commented on #175
Transform is now working.

However, the rendered result seems to ignore attributes like fill and stroke in the included svg. For instance, if I add "fill="#ff0000" to rect in another.svg, the rendered PDF shows two black rectangles instead of red.

MT
--

[2019-03-15 13:34] tadeu opened #180 "`DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead` is appearing"

[2019-03-15 15:03] #180 closed

[2019-03-26 23:32] metro69 commented on #175
I tested with your latest commit in `claudep:ext_fragment` and my test cases are now working.

Thanks!
Metro

[2019-03-30 17:13] claudep commented on #175
Many thanks for your feedback!

[2019-03-30 17:14] #175 closed

[2019-04-22 23:18] bbowles-personal opened #187 "problem with Image files not getting closed"
I"m running into this error. Its likely there is a bug that was not picked up before. Its only noticable now because I am running many conversions in parallel with multiprocessing.

Its difficult for me to tell where in the program there are images being opened and then not closed properly.

  File "C:\ProgramData\Anaconda3\lib\site-packages\svglib\svglib.py", line 1225, in svg2rlg
  File "C:\Prog

[2019-04-23 08:35] claudep commented on #187
Thanks for reporting. However this should be fixed by (unreleased) commit fca404afc500663abe.

[2019-04-23 08:35] #187 closed

[2019-04-23 21:19] bbowles-personal opened #188 "Division by Zero Error"
Got this when replacing prod code with current code:

[code]

[2019-04-23 22:34] deeplook commented on #188
So what do you recommend to reproduce this?

[2019-04-26 06:46] claudep commented on #188
Please reopen when you can provide a sample file to reproduce (or some test code).

[2019-04-26 06:46] #188 closed

[2019-05-09 10:23] riccardodivirgilio commented on #163
hi there I have seen that xrange is still in the source code of my pip installed 0.9.0
I also noticed that on master xrange was removed from the source code. is there a new version I can install with this fix? thanks.

[2019-05-09 10:27] riccardodivirgilio commented on #163
ok so it looks, like we need to pip install 0.9.0b0 and not 0.9.0, that is confusing. thanks!

[2019-05-09 11:21] claudep commented on #163
That should not happen, it the issue is solved in 0.9.0b0, it should also be in 0.9.0, unless there is a packaging error.

[2019-05-18 08:20] claudep opened #190 "Regression in viewbox size"
Commit 82860fa54f8a2b added a regression in master when a viewbox contains percentage height/width values (most files in the SVG Tiny test suite are affected).

This is due to the fact that svglib now takes viewbox width and height into account (which is a good thing), however master is currently not handling percentage values. To fix that, #186 is adding percentage value support. @deeplook Are yo

[2019-05-18 08:57] claudep commented on #141
I just checked and can confirm that #186 is fixing this issue.

[2019-05-18 11:36] deeplook commented on #190
Sure, go! And thanks!

[2019-05-18 12:09] #141 closed

[2019-05-18 12:23] claudep commented on #190
Fixed by 719e9c7e6643189a

[2019-05-18 12:23] #190 closed

[2019-05-18 12:34] claudep commented on #89
Font support has improved a lot since this issue was reported. I'm closing this issue, suggesting that specific font bugs to be created as separate issues with detailed reproducing instructions.

[2019-05-18 12:34] #89 closed

[2019-05-18 12:53] claudep commented on #121
My local tests show that at least the use case provided in the initial description is solved now. I'm closing the ticket, feel free to reopen (possibly a new ticket) if you find unresolved cases.

[2019-05-18 12:53] #121 closed

[2019-06-25 11:35] girstenbrei opened #193 "SVG to PDF: Text looses outline/stroke"
So I would like to convert an svg with text to a pdf. In conversion, the text looses its outline ('stroke' in svg speak, so the internet tells me.)

This is an example svg to reproduce the problem, test.pdf is the result I get when running it.
[code]
[test.pdf](https://github.com/deeplook/svglib/files/3324988/test.pdf)

Viewing the svg in Chrome/Firefox/Inkscape/Illustrator shows the outline as ex

[2019-06-25 19:28] claudep commented on #193
Thanks for the well-presented report.
I've studied a bit what ReportLab allows us to do with text. Although the `pdfgen.PDFTextObject` has some advanced rendering capabilities (notable the `setTextRenderMode` method which would allow to activate the fill and stroke mode), I didn't yet found the method to leverage them from the `graphics.String` limited set of properties. Maybe @deeplook will have

[2019-06-25 19:34] claudep commented on #98
The published svglib variants on Pypi have been removed. About the Github forks, I guess that's a common situation where everyone is free to create its own fork and maintain/update it or not. I don't think we should make more efforts in this regard.

[2019-06-25 19:34] #98 closed

[2019-06-30 11:24] Akuli commented on #173
I have used svglib with a file object for a while and it works

[2019-06-30 11:24] #173 closed

[2019-06-30 11:28] Akuli opened #195 "crash with firefox logo on svglib 0.9.1, but works on 0.9.0"
Download https://upload.wikimedia.org/wikipedia/commons/6/67/Firefox_Logo%2C_2017.svg to `firefox.svg`

After `pip install svglib==0.9.0` running this produces `out.gif` as expected, but after installing `0.9.1` it raises an error

[code]

Here is the error

[code]

[2019-06-30 18:46] claudep commented on #195
Thanks for the report, I'm almost certain the problem is in 918415335, where the condition `if r != 0` is probably missing before the new introduced line. @ajbrock, maybe you could have a look?

[2019-06-30 19:02] ajbrock commented on #195
I think I agree that adding `if r!=0` before computing `r = 1 / r -1` is a good idea to prevent divide by zero, but I'm not sure I see the error path that would lead to the divide-by-zero in reportlab. If the line in question were computing "1/0 -1" then wouldn't it be outputting an `inf` or a `nan` to reportlab? It looks like reportlab is dealing with a transform whose determinant is zero. I don'

[2019-07-01 11:08] deeplook opened #197 "Decide on continued Windows support"
At the moment we have AppVeyor fails for every merge. I don't see anybody except @nicoddemus who would care for this and be able to solve it. If I'm right maybe it's worth doing something about it, and keep some records of how to do it? Otherwise I feel we should drop official Windows support with the next release. Opinions?

The last error from AppVeyor was this: https://ci.appveyor.com/project/d

[2019-07-01 11:14] nicoddemus commented on #197
I wasn't aware that the AppVeyor builds were failing, sorry.

I'm happy to fix it and keep it running in the future, as we develop multi-platform applications (including Windows) which use `svglib`. I will take a look later.

If AppVeyor fails without obvious reasons, feel free to ping me.

[2019-07-02 11:58] girstenbrei commented on #193
@claudep Thank you for your quick reply!

Disclaimer: I have **no** idea, how svglib works or how reportlab works.

So [the except block in svglib.py:1349](https://github.com/deeplook/svglib/blob/122314301942de9b0cc9608e687b28062888f2bb/svglib/svglib.py#L1349) hides that the `setattr(shape, rlgAttr, meth(svgAttrValue))` one line earlier fails. This seems to be caused by reportlabs.graphics.shapes.

[2019-07-02 12:16] claudep commented on #193
Good approach, tell us about your pure reportlab findings.

Probably., If you can trigger the problem with a minimal SVG, it would be great (and create a new issue for that).

[2019-07-03 14:09] grhawk opened #199 "New version without license issues"
Hi,

Still me... :) Following the #194 , could you please issue a new version? That would simplify a lot my job.

Thank you very much.

[2019-07-03 14:10] claudep commented on #199
Sorry, but there is a regression described in #195, and we won't release before fixing that.

[2019-07-04 07:30] girstenbrei commented on #193
Small experiment with reportlabs:
[code]
produces a PDF with text outlined by another color (good in Adobe Reader, Illustrator shows that every char is a separate object). [This](http://two.pairlist.net/pipermail/reportlab-users/2007-November/006484.html) and [this](https://pairlist2.pair.net/pipermail/reportlab-users/2010-February/009289.html) source both contain the information, but I could not

[2019-07-04 07:38] claudep commented on #193
Many thanks for this thorough experimentation! Your plan sounds good.
If at some point svglib has to subclass a ReportLab object (say `shapes.String`) to allow for more attributes (waiting a fix in RL itself), we can also try to do that.

[2019-07-04 07:45] girstenbrei commented on #193
@claudep I thought about pushing the functionality from svglib into reportlabs as I noticed the monkeypatch_reportlab - method, something along the lines of subclassing `shapes.String`, adding the missing attributes and then patching it back into reportlab (additionally forcing the change in the `drawString` methods). But this gets uggly quick ...

I'll let you know what the reportlab devs say!

[2019-07-04 18:19] deeplook opened #200 "Provide an online conversion tool?"
For a long time I felt we should have a tool that allows for interactive eye-ball tests to check how the input SVG and output PDF compare when rendered. I've recently done a lot with Jupyter and discovered https://github.com/QuantStack/voila which is kind of building online apps running in a Jupyter sandbox.

I gave it a try with svg2pdf and wrote a proof of concept in my fork of voila. There is s

[2019-07-04 21:45] #197 closed

[2019-07-06 09:19] claudep commented on #195
Sorry for wrongly accusing the commit 9184153 for that regression. In fact, the problem arises after 82860fa54f8a2b.

[2019-07-06 12:41] claudep commented on #195
@Akuli with 0.9.0 do you obtain anything else than a blank page?

[2019-07-08 12:48] mrgou opened #203 "SVG colors no supported?"
It seems that svglib does not support SVG colors, or at least note the svg2rlg method.

For instance, when processing an SVG file generated by GraphViz:
[code]
I'm looking forward for a release that support SVG color keywords (https://www.w3.org/TR/2013/WD-SVG2-20130409/single-page.html#types-ColorKeywords).

[2019-07-08 15:15] #203 closed

[2019-07-08 16:28] mrgou commented on #203
Does this update cover the full range of SVG color keywords?

[2019-07-08 16:32] claudep commented on #203
I think so, the code will use that list in ReportLab: https://bitbucket.org/rptlab/reportlab/src/afaf3fc6a8d847bb70b79306dfff16998e23ada5/src/reportlab/lib/colors.py#lines-532

[2019-07-09 07:32] mrgou commented on #203
Oh yes, that looks complete! Looking forward to its release in PyPi! :-)

[2019-07-12 11:16] kenomaerz opened #205 "On exporting to png/pdf via reportlab: float division by zero"
I tried to do the png/pdf conversion from the main Readme of svglib, and got a float division by zero error.

Tested on: svglib 0.9.0 and newest on pypi today
OS: Windows, python 3.7.3

[code]

both calls throw an exception (the latter only if the previous is commented out, obviously.
test.svg: https://www.dropbox.com/s/2w5ax47neb6j1h4/test.svg?dl=0

Stacktrace:

[code]

[2019-07-12 12:03] #195 closed

[2019-07-12 12:04] claudep commented on #205
Thanks, that was already reported in #195. I just pushed the patch I prepared to fix this issue. If you could confirm it fixes your problem, would be nice.

[2019-07-12 12:04] #205 closed

[2019-07-12 12:23] kenomaerz commented on #205
Wow, thanks for the near immediate response. I can confirm that the current master exports correctly. Looking forward to the new release!

[2019-07-12 15:01] fourjr opened #206 "ZeroDivisionError when trying to convert SVG to PDF/PNG"
[This](https://gist.github.com/fourjr/ab90768916faa5d92cb26c106d598821) is the SVG file that I am trying to convert.

Full error:
[code]

I have tried this with code as well with similar results:
[code]

[2019-07-12 15:42] Akuli commented on #195
I seem to be getting blank page only with 0.9.0 so I think this is a good as it ever was, lol

[2019-07-12 18:08] claudep commented on #206
Duplicate of #195. Just released 0.9.2 including the fix.

[2019-07-12 18:08] #206 closed

[2019-07-12 18:08] claudep commented on #199
0.9.2 was released today.

[2019-07-12 18:08] #199 closed

[2019-07-13 11:49] fourjr opened #207 "Low resolution PNG output"
[This](https://gist.github.com/fourjr/ab90768916faa5d92cb26c106d598821) is the SVG file that I am trying to convert.

Is there a way to make the output png a higher resolution? The rendered SVG on Github has a way higher resolution than the one outputted by the lib.

72 DPI (default)
![image](https://user-images.githubusercontent.com/28086837/61171219-1f042e80-a5a7-11e9-95d9-49c2f727448a.png)

102

[2019-07-13 16:00] claudep commented on #207
Good question. This is more a ReportLab question than a svglib one, but by reading RL code, looks like you should be able to play with the `drawing.renderScale` attribute which looks like a scale factor. Would be nice if you can report your experiment results, maybe we can add a line or two in our README.

[2019-07-14 05:51] fourjr commented on #207
I managed to successfully resize properly with this [answer](https://stackoverflow.com/a/41806240). However, upon resizing, I realised that the edges were extremely jagged.
![emoji](https://user-images.githubusercontent.com/28086837/61179871-4e19af00-a63e-11e9-8255-37d08584a077.png)

[2019-07-18 10:32] milkyklim opened #208 "Can't handle color: var(--cape-base)"
I am trying to load svg image that contains

[code]

color declaration.

I can't figure out why error `Can't handle color: var(--cape-base)` is thrown.

Here is the [image](https://milkyklim.keybase.pub/issues/3425.svg).

Code I'm using:

[code]

Is this issue related https://github.com/deeplook/svglib/issues/203?

[2019-07-18 16:45] claudep commented on #208
This is not related to #203. The fact is that the [cssselect2](https://github.com/Kozea/cssselect2) lib used by svglib is not resolving the `var()` constructs, neither are we.

[2019-07-18 18:26] milkyklim commented on #208
Closing this one here then.

[2019-07-18 18:26] #208 closed

[2019-09-18 10:16] Overdrivr commented on #104
I can confirm similar issues with horizontal lines randomly appearing on rendered images. I'm running Windows 10.
This is how one of our svg documents look like in Inkscape (looks same in Chrome):

![image](https://user-images.githubusercontent.com/1294805/65139885-b2296c80-da0d-11e9-97ea-147bc525d7a3.png)

And this is how svglib renders it:

![ht_mask](https://user-images.githubusercontent.com/12

[2019-09-19 07:30] replabrobin commented on #104
I'm not sure that this problem is the same issue. The original issue was with png rendering and relates to _renderPM.c; this error is happening in PDF rendering. It looks more like a structural issue decoding the SVG into RL graphics.

[2019-09-19 07:44] claudep commented on #104
I wasn't able to reproduce, are you sure you are using latest svglib?

[2019-09-19 07:58] Overdrivr commented on #104
@replabrobin My issue is with PNG rendering, not PDF, should be the same issue no ?

I'm using svglib `0.9.2`, reportlab version is `3.5.23`, this is the code I'm using:

[code]

I realize now, maybe this comes from reportlab ? Could you share the code you're using @claudep ?

[2019-09-19 08:16] claudep commented on #104
Oh, sorry, I was testing the PDF output, which looks fine.

[2019-09-23 07:01] jason40418 opened #209 "svg2rlg cause black background"
I use plotly to draw a mesh3D and use "to_image()" to transfer into svg byte file.
If use plotly "write_image()" to generate svg and png could success to export what I needed.
However, when I use "io.BytesIO()" to read and "svg2rlg()"  would cause black background.

## Code
Plotly Layout Setting
[code]
svg2rlg
[code]

## Result
- export png from plotly write_image()
![fig1](https://user-images.git

[2019-09-24 17:37] claudep commented on #209
For `renderPM`, it looks like there is a `bg` option, read https://github.com/deeplook/svglib/issues/171#issuecomment-468239750.
For `renderPDF`, the `_PDFRenderer.drawImage` method is using `canvas.drawInlineImage` instead of `canvas.drawImage`, and the former doesn't expose the `mask` parameter. I don't see what svglib can do.

[2019-09-27 09:53] jason40418 commented on #209
After trying I found that `Plotly` layout have `bgcolor` in `scene` and it default is rgba(0, 0, 0, 0).
If I change it to rgba(255, 255, 255, 0) it would not cause black background.
So, I assume that some method would cause lost alpha value and finally result it.

[2019-10-08 14:33] louis-gallo-cigna opened #211 "Upgrading from SVGLIB 0.8.1 to 0.9.2 Breaks - SVG Images Now Appear in Black and White"
(I first posted this issue last year, but decided not to upgrade until now.)

I have been using SVGLIB 0.8.1 for a few years now to incorporate existing color SVG chart images (created in R) into a PDF file. It has worked great.

When I try to upgrade to the latest SVGLIB 0.9.2, on a clean Windows machine with Python 3.6.1, my imported SVG images (which are fine themselves) now appear in black and

[2019-10-08 15:15] claudep commented on #211
Without a sample SVG file, it is difficult to debug your issue. Could you please upload one?

[2019-10-08 16:35] louis-gallo-cigna commented on #211
Hi Claude,

Absolutely. I can provide an identical SVG created from my 0.8.1 testbed, and one from the 0.9.2 testbed.

Will that work?

I appreciate your response and help.

I’ll send that long shortly.

Thanks,

Lou

From: Claude Paroz [mailto:notifications@github.com]
Sent: Tuesday, October 8, 2019 11:15 AM
To: deeplook/svglib <svglib@noreply.github.com>
Cc: Gallo, Louis G (Lou) 523 <Louis.Gallo

[2019-10-08 19:20] louis-gallo-cigna commented on #211
Sample SVG enclosed.
[SVG-Generated-by-R-Version-3.4.4.zip](https://github.com/deeplook/svglib/files/3704165/SVG-Generated-by-R-Version-3.4.4.zip)

Thanks,

Lou

[2019-10-08 19:29] claudep commented on #211
Thanks, at least it allowed me to spot the issue. As CSS is now interpreted, it appears there is a precedence bug between the generic CSS in the defs part of the file and the styles included in the elements themselves.

[2019-10-30 12:15] liangqi commented on #171
Not sure whether this change is related or not,

https://bitbucket.org/rptlab/reportlab/commits/7df61e325601580bc36db042c6d6a8a776f62eef

[2019-10-31 10:22] bs111 opened #213 "I have a svg file ,when try to convert to png，show Can't handle color: #F72D50FF"
[test_Vector.zip](https://github.com/deeplook/svglib/files/3793243/test_Vector.zip)
the attached svg file can be open by chrome ,and show it.
![1](https://user-images.githubusercontent.com/38519076/67938496-8ef7fc80-fc0a-11e9-8bfb-3064fd6a2aa0.PNG)

but when i try to convert it by svglib,it show all white.

![2](https://user-images.githubusercontent.com/38519076/67938762-19d8f700-fc0b-11e9-9d16-f5

[2019-10-31 12:29] #211 closed

[2019-10-31 13:54] claudep opened #216 "Dropping Python 2"
As Python 2 is about to reach its end of life, I think it's about time we drop support in svglib.
@deeplook, what's your take on this?

[2019-10-31 15:51] deeplook commented on #216
I'm much in favor of dropping Python 2.x support with its "end of life" coming by the end of 2019. I would suggest we then stop testing it in Travis and state we don't support 2.x anymore in the docs with a release 1.0 to come in 2020. From then on we can also apply simplifications, clean-ups, whatever that can happily break it on Python 2.7. Sounds like a plan? 😊

[2019-10-31 17:24] #213 closed

[2019-10-31 19:25] claudep commented on #216
Good plan. I could make a 0.9.3 release rather soon stating that it is the last release supporting Python 2, what do you think? Or would you prefer waiting for the end of the year?

[2019-10-31 19:48] #115 closed

[2019-10-31 19:50] deeplook commented on #216
Even better (of course)! 😊

[2019-11-02 10:23] claudep commented on #51
I think this issue is now a bit outdated.

[2019-11-02 10:23] #51 closed

[2019-11-02 15:10] #216 closed

[2019-11-07 08:27] deeplook opened #221 "Support Python 3.8 in Travis?"
After dropping Python 2.7 we might want to support 3.8. ;) I've looked at the Travis site, but I haven't seen a non-dev 3.8 version, yet.

[2019-11-07 08:33] claudep commented on #221
It should be doable (see https://github.com/jazzband/tablib/blob/master/.travis.yml and https://travis-ci.org/jazzband/tablib)

[2019-11-07 08:37] deeplook commented on #221
Or does this indicate full 3.8 support? https://docs.travis-ci.com/user/languages/python/

[2019-11-07 08:38] claudep commented on #221
I'm sure it does.

[2019-11-07 08:46] deeplook commented on #221
Tablib looks nice, thanks for the hint! I also like https://github.com/jazzband/tablib/blob/master/RELEASING.md which I feel like copy-pasting into this repo... It might have caused more releases over the last years... ;)

[2019-11-12 14:22] dannmartens opened #222 "Is the preserveAspectRatio attribute taken into account?"
Hi,

I've found that in the generated PDF from an SVG image, the image has lost its original aspect ratio.

For example, a setting of
[code]
will render the image, :

and

With a native SVG renderer, this works as expected.

With svglib, it seems the image is stretched to fill the available page page within margins.

Does svg2rlg take this attribute into account? Or are there perhaps parameters wh

[2019-11-12 14:37] claudep commented on #222
No, I dont' think we are currently taking this parameter into account.

[2019-11-12 16:02] dannmartens commented on #222
This is the spec explained: https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/preserveAspectRatio

[2019-11-12 21:57] deeplook commented on #222
I‘m not sure we have the resources for adding this now. Or let‘s say I know I don‘t. But we do encourage and accept PRs. And should do it more often.

[2019-11-13 10:44] dannmartens commented on #222
It's probably somewhere around here, where the preserveAspectRatio should be taken into account:
[code]

Where does the stretching occur? Just by doing `drawing.add(main_group)`? I mean width and height are the actual page size, the main_group appears to be only translated. Or is it caused by `self.attrConverter.set_box(view_box)`?

[2019-11-14 10:49] deeplook commented on #222
I see `preserveAspectRatio` is used in `tests/samples/others/png_in_svg.svg`, but I can't do any testing for now, sorry.

[2020-01-07 10:38] psmlbhor opened #223 "foreignObject not correctly parsed while printing in reportlab"
I am trying to add an SVG image [(here)](https://drive.google.com/open?id=1FJWtqvmWq8x22qMYNCnCHg_CQjGtQpds) [Please download the file and view it in your local browser because it parses incorrectly on google drive] to PDF (through reportlab) using svglib but it does not show the Y-axis [PDF screenshot](https://drive.google.com/open?id=1fFxKsb2Us8RjLXaNVbvs5gq_uRUGnGfD). It should show like [this]

[2020-01-07 11:07] deeplook commented on #223
Sorry, but I've become more cautious with opening arbitrary PDFs on the net. Would you mind to add some bitmap shots to this ticket? (I'll update the issue template text accordingly.)

[2020-01-08 07:12] psmlbhor commented on #223
Sure @deeplook.

The expected image output:
![correct-y-axis](https://user-images.githubusercontent.com/5688213/71957558-10c06380-3214-11ea-83e3-7de4c84eaa7a.PNG)

What I get:
![y-axis](https://user-images.githubusercontent.com/5688213/71957564-1322bd80-3214-11ea-8659-7093f472d74e.PNG)

I am not able to upload SVG as github does not support that file type.

[2020-01-08 09:42] deeplook commented on #223
You can always paste SVG code here like:

[code]

[2020-01-09 10:29] psmlbhor commented on #223
@deeplook Sorry for all the trouble. I hardly use github :(

Here it is:

[code]

[2020-01-13 09:30] deeplook commented on #223
As you noticed there is no support for `foreignObject` elements yet. In your example you can likely replace your `foreignObject` element with a `g` one as a workaround, but you might get a different font, and maybe that's why the `foreignObject` is used in the first place.

If I understand correctly, the `foreignObject` element is about embedding arbitrary HTML and apply SVG transformations to it,

[2020-01-31 18:19] GabiWenzel opened #225 "Graph's data plotted out of limits"
Dear all,

Thank you for this package. When trying to convert my with python created .svg files to a .pdf file, the data is plotted also outside the axes, meaning outside the limits I set (compare figure2.svg to figure3.pdf). How can I get rid of this?

Please find a working example below. Thank you for any input and/or help with this issue!
All the best,
Gabi

[figures.zip](https://github.com/dee

[2020-01-31 19:33] claudep commented on #225
The problem is that the `<defs>` where the clipping path of several element of the SVG file is defined is at the end of the file, so svglib doesn't find it as it processes nodes sequentially. It's probably a limitation of svglib. It could process all defs section first, and then all other nodes.

[2020-02-21 07:56] rocketnova opened #226 "Errors when attempting to load TrueType Collection fonts"
When I attempted to convert SVGs that use a `.ttc` font, I get the `Unable to find a suitable font for 'font-family:...` error.

Here's a sample SVG:
[code]

The font file is `圓體W3寬注音.ttc`. Here's a simplified example of what I run:

[code]

I traced the issue to https://github.com/deeplook/svglib/blob/4ad421bf03b64adfdc85d177b011a90ed8990d17/svglib/svglib.py#L87 which only searches for `.ttf` fil

[2020-02-21 08:23] claudep commented on #226
Your suggestion sounds good, would you be able to provide a patch?

[2020-02-21 09:33] deeplook commented on #226
Sounds useful, but does reportlab support TrueType Collections, @replabrobin?

[2020-02-21 09:59] MrBitBucket commented on #226
We do manage to read some ttc files. The wrinkle is that we need to specify some more information to get the right font within the collection. In the reportlab/tests/test_multibyte_jpn.py file we see this

msmincho = TTFont('MS Mincho','msmincho.ttc',subfontIndex=0,asciiReadable=0)

ie we select the subfont with index 0.

[2020-02-22 00:13] rocketnova commented on #226
TL;DR I happy to close this issue without resolving because TTC seems complicated. 😞

Long write up incoming.

[2020-02-22 00:18] rocketnova commented on #226
I originally successfully got my font to work by simply using `registerFont(TTFont(font_name, '%s.ttc' % font_name))`, but since I didn't specify a subfontIndex, I assume the default subfontIndex 0 worked. This seems pretty brittle.

I can amend my SVG to add a TTC subfontIndex number into something like:
[code]

We _could_ patch `find_font()` to the following and `svglib` correctly accepts `圓體W3寬

[2020-02-24 06:46] M-Sea opened #227 "Can't handle color: none !important"
When i use

 it will shows the warning: Can't handle color: none !important

[2020-02-24 07:53] claudep commented on #227
Could you please provide us the svg source?

[2020-02-24 09:44] M-Sea commented on #227
Here's the codes
[code]

Can't handle color: none !important
This is the warning

[2020-02-24 09:46] M-Sea commented on #227
Here's the codes
`#!/usr/bin/python
from random import randint
import pygal
from svglib.svglib import svg2rlg
from reportlab.graphics import renderPDF, renderPM

class Die():
    def __init__(self,side):
        self.side=side
    def roll(self):
        self.point=randint(1,self.side)

result1=[]
result2=[]
for i in range(100):
    die1=Die(6)
    die1.roll()
    die2=Die(6)
    die2.roll()
    r

[2020-02-25 09:35] replabrobin commented on #226
As I understand the problems here it seems things would be improved if 1) the font search could include .ttc files and 2) if the subfontIndex could actually be a string or an integer we could allow the PostScript Name to be used as a selector for the subfont. If that were done then you could use

`    try:
        # Try to register the font as a ttc with a subfontIndex
        # specified after th

[2020-02-25 11:00] deeplook opened #228 "Add Python 3.8 to appveyor.yml"
I've done this for Travis, maybe @nicoddemus can do that for AppVeyor, too? I've also noticed that Travis supports Windows, too. Is it worth combining these two into one, Travis?

[2020-02-25 11:18] MrLion9 opened #229 "No disabling external entity expansion (XXE)"
Hi! I found that I can perform XXE attack (https://en.wikipedia.org/wiki/XML_external_entity_attack) when using svg2rlg function

Code:
[code]

Payload (test.svg)
[code]

[2020-02-25 13:55] deeplook commented on #229
It would be nice to put a link like this with your description, if this is what you mean... https://en.wikipedia.org/wiki/XML_external_entity_attack

[2020-02-25 14:00] MrLion9 commented on #229
Yes, that’s what I meant )

[2020-02-25 15:47] rocketnova commented on #226
@replabrobin Thanks for taking a look at this issue. I believe that reportlab currently accepts an int for `subFontIndex`. It would be better if it accepted a string instead. Ideally, we would use something like:

[code]
The crucial difference here being that we would be passing in a string after the `#` as per W3C recommendation for TTC subfonts.

[2020-02-26 15:46] replabrobin commented on #226
I made a change to the reportlab ttfonts.py code that should allow lookup by either an int or string. The lookup for the matching subfont by name is not particularly efficient, but it seems to work for the collections I have. If someone could try with a patched svglib and see if this goes though that would be helpful.

[2020-02-26 18:41] rocketnova commented on #226
@replabrobin I tested against reportlab version 3.5.39 and discovered a couple things:
1. My font was reporting 65536 `numSubFonts` on [line 444](https://github.com/MrBitBucket/reportlab-mirror/blob/1cd6ed38692f3e0b0793c171538f18493b8d475e/src/reportlab/pdfbase/ttfonts.py#L444), but it only has 3 subfonts, so it would index out of range on [line 205](https://github.com/MrBitBucket/reportlab-mirror

[2020-02-28 16:53] nzny01 opened #230 "reportLab svg2rlg bug when handling clip-paths"
It appears that clip-paths are ignored when importing SVG files into reportLab PDF with svg2rlg.

If an SVG file has a graphics object with a clip-path assigned (this is typical for matplotlib graphics where the plot extends outside an axis), then the SVG file will not render properly when importing into a reportLab PDF via svg2rlg.

The SVG file looks correct in AI or Explorer, so the problem app

[2020-02-28 22:37] claudep commented on #230
Thanks for the report and the suggestion. A similar issue was reported in #225.

[2020-02-28 22:37] #230 closed

[2020-02-28 23:05] claudep commented on #225
PR #231 should solve this issue. Anyone wanting to test it is welcome!

[2020-02-29 00:56] nzny01 commented on #225
Thanks for the fix. I tried branch svglib-issue225 and it fixes the problem.

Before:

![image](https://user-images.githubusercontent.com/61595917/75597552-109a5280-5a64-11ea-9275-967cdede6362.png)

After

![image](https://user-images.githubusercontent.com/61595917/75597602-60791980-5a64-11ea-857b-ad449d3984fb.png)

[2020-02-29 09:28] claudep commented on #225
Many thanks for testing and confirmation! I'll merge the PR soon.

[2020-02-29 10:05] #225 closed

[2020-02-29 12:31] k0mplex opened #232 "throwing ValueError for SVG 1.2 tiny files"
Hello,

I've got a question. When I call svg2rlg for a svg 1.2 file (the full tag is \<svg width="595.44" height="841.68" xmlns="http://www.w3.org/2000/svg" xmlns:_xmlns="xmlns" _xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2" baseProfile="tiny" style="background-color:#fff"\>) I yield the following exception:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  Fil

[2020-02-29 16:02] claudep commented on #232
Would be nice if you could provide us with the complete svg file. And also a pointer to a reference to any spec defining this simplified elliptical arc, if possible.

[2020-02-29 17:39] k0mplex commented on #232
Hello claudep,

Thank you very much for your reply. I've attached an [example](https://github.com/deeplook/svglib/files/4270640/example.txt) of a music sheet, which contains such elliptic arcs.

Some detailed descriptions on the svg 1.2 tiny specification can be found [here](https://www.w3.org/TR/SVGMobile12/paths.html#PathData). I hope, that this can help you.

Again many many thanks in advance!

[2020-02-29 19:42] claudep commented on #232
Unfortunately, there isn't any mention of elliptic arcs in the svg 1.2 tiny spec.
However my feeling right now by reading your file is that the issue could come from interpretation of the double zeros in a sequence like `a1.533 1.533 0 00-.648-1.266`.

[2020-02-29 20:10] claudep commented on #232
OK, now I'm sure this is related to the flags parameters to arc (`large-arc-flag` and `sweep-flag`) which are `1`/`0` values which don't require spaces around. Our `utils.split_floats` function needs a fix.

[2020-02-29 20:16] claudep commented on #232
The failing test:
[code]

[2020-03-01 20:56] k0mplex commented on #232
Thank you very much for your quick reply and help! I can verify that the latest update fixed my issue.

[2020-03-06 15:02] averonesis commented on #229
Hello @deeplook will you fix the issue?

[2020-03-06 15:25] claudep commented on #229
Hello @averonesis will you suggest a patch?

[2020-03-07 08:32] #232 closed

[2020-03-07 09:25] claudep commented on #229
@MrLion9, could you have a look at the patch, please?

[2020-03-07 15:43] averonesis commented on #229
@claudep yep, looks good, thank you!

[2020-03-10 11:24] claudep commented on #229
I guess you approved through emojis :smile:
I reopen, because closing should be done when the patch is merged.

[2020-03-15 15:55] AAlphaDEV opened #236 "svglib failing to open bad svg files"
This is not really an issue, but I had some problems trying to open an svg file.
It's about elliptical arc in a path node :
the file I have would write it like this : `a1.178 1.178 0 00-.078.391`
where the correct way should be something like : `a1.178 1.178 0 0 0 -.078.391` (notice the space between the two zeros)
So svglib doesn't recognize every parameters and throws an exception

I wrote a scr

[2020-03-15 15:56] claudep commented on #236
Many thanks for your report. This was very recently fixed in master by d730b2bdfe87b.

[2020-03-15 15:56] #236 closed

[2020-03-15 15:58] AAlphaDEV commented on #236
Ok sry
Thank you for your quick answer

[2020-03-22 12:31] NicoleG25 commented on #229
I believe that [CVE-2020-10799](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-10799) was assigned to this issue :)

[2020-03-22 15:45] #229 closed

[2020-03-22 16:13] claudep commented on #229
I pushed both a 0.9.4 release to have a Python 2 compatible release with the fix and a 1.0.0 release which is now Python 2 free.

[2020-03-25 15:44] rastersoft opened #237 "Embedded SVGs aren't rendered at the right scale"
When an external SVG is inserted into an SVG linked instead of imported inside, the scale isn't honored. I attach an example (both SVG files). It seems related to https://github.com/deeplook/svglib/issues/175

Opening "composed.svg" file with inkscape works fine, showing the circles from "circle.svg" perfectly inside the rectangle, but using svg2pdf fails.

[composed_svg.zip](https://github.com/de

[2020-03-26 21:11] deeplook commented on #237
I can confirm the effect you describe, but I'm sorry I don't have an immediate cure and too much else to look after.

[2020-03-28 22:02] donkirkby opened #238 "SVG with clipPath forces stroked border"
Thanks for publishing this library, it's very helpful for including matplotlib plots in PDF reports.

I've run into trouble when my SVG needs to be clipped to its bounding rectangle. I'd like to just clip it, but it also draws the the bounding rectangle.

Here's a small example of what I'm trying to do. The circle is drawn half outside the top boundary of the SVG, so I want to see a semicircle.

[2020-03-29 13:44] deeplook opened #240 "Ensure timely conda packaging"
This is mainly for @nicoddemus as he set up the packaging of svglib for conda-forge. ATM one can find 0.9.3 there, see https://anaconda.org/conda-forge/svglib, so I wonder if and what we can do to make sure that new versions are automatically picked up and get published there, as well? Maybe you can describe the process? Thanks!

[2020-03-29 13:49] nicoddemus commented on #240
There's a bot which routinely scans PyPI and opens up a PR updating the package on conda-forge, so it should be a matter of a day or two before a new version pops up there.

[2020-03-29 13:51] deeplook commented on #240
Yes, but it's seven days now. ;)

[2020-03-29 14:00] nicoddemus commented on #240
Yeah, I haven't been keeping up with my packaging duties lately, but I will try to keep up.

[2020-03-29 14:07] deeplook commented on #240
No worries! I just want to get a better understanding of what is happening and how, also because I might want to publish other things on conda-forge.

[2020-03-30 10:35] #238 closed

[2020-03-30 12:44] deeplook opened #241 "Replace AppVeyor with Travis-CI?"
Travis-CI added support for Windows a while back, and we started at some point before to use AppVeyor for builds on Windows. I had looked previously at the config-fu needed to make it work with Travis-CI, and it is non-neglectable. But I have a tiny other project where somebody just added Windows support, so I wonder if we should also bundle all CI building and testing for different target platfor

[2020-03-30 16:26] claudep commented on #241
No particular opinion on my side.

[2020-04-03 08:37] NNTin commented on #241
Bear in mind Travis was acquired by Idera a year ago. A mass layoff followed. I personally use Azure Pipelines which also has Windows support. I also use Travis because that's what I've been originally using.

Travis had a good reputation but with the acquisition change can happen. So far it seems they haven't changed regarding their stance towards open source projects. They even recently added Bi

[2020-04-08 15:00] deeplook commented on #241
@NNTin Thank you for your thoughts! That's exactly what I was trying to solicitate. I'm well aware of the issues with Travis CI. I guess it is just hard to find a good balance between using a set of distributed services, while optimizing for several criteria like functionality, stability, flexibility, ease-of-use and something else I might have forgotten.

[2020-04-23 20:02] ilovetogetspamed opened #242 "ZeroDivisionError, trying to get a path's length."
macOS Mojave 10.14.6 (18G4032)
Python 3.7.5 (v3.7.5:5c02a39a0b, Oct 14 2019, 18:49:57)
[Clang 6.0 (clang-600.0.57)] on darwin

svgpathtools==1.3.3

[code]

[code]

My code works fine with similar svg files. Thanks in advance.

[2020-04-23 21:09] claudep commented on #242
I guess you reported your bug on the wrong module. This is `svglib` not https://github.com/mathandy/svgpathtools

[2020-04-23 21:09] #242 closed

[2020-04-24 02:15] ilovetogetspamed commented on #242
Woops.  Long day.  Sorry!

[2020-05-12 18:52] 2minchul commented on #88
same problem. `font_weight='bold'` not working for me

[2020-06-09 20:26] igormcsouza opened #243 "Svglib is breaking Gunicorn"
I'm using svglib on a backend environment, along side with Flask. After installing it, I got an error on gunicorn.

[code]
That is not happening when svglib is not installed. I'm using python 3, there is also Keras and Tensorflow installed on the environment. I'm using docker to build environment. My Gunicorn version is 19.9.0

[2020-06-09 20:47] claudep commented on #243
I'm sorry for you, but with so few information, it's impossible for us to debug the issue, or even tell if svglib is really the culprit. Feel free to reopen if you can give more details on the error.

[2020-06-09 20:47] #243 closed

[2020-06-09 20:53] igormcsouza commented on #243
Well.. I'm not sure what more is needed to debug it! Just create an environment with svglib, gunicorn==19.9.0 and flask. Create a simple application and run with gunicorn. The error will come up!

[2020-06-10 06:41] claudep commented on #243
With the simple error line you reported above, it's simply impossible to find out what's the problem.

[2020-07-08 08:24] Dal-Opez opened #244 "The problem with converting the characters of the Russian alphabet from SVG to PDF"
Hello. Sorry for my english. When converting from SVG to PDF, the symbols of the Russian alphabet in the PDF file are replaced by black squares. Tell me, please, how to solve this problem?

[2020-07-08 09:10] claudep commented on #244
Most probably svglib was not able to find the font file. You may have received some warnings in the command output.

[2020-07-08 09:38] Dal-Opez commented on #244
there were no warnings

[2020-07-08 09:40] claudep commented on #244
Maybe you could point us to that svg file?

[2020-07-08 09:54] Dal-Opez commented on #244
I provide a file in PNG format. After downloading, change the format to SVG.
![RU_F1_v_6](https://user-images.githubusercontent.com/55364307/86904481-720cb500-c119-11ea-80f6-283128dd7e2f.png)

[2020-07-08 10:02] claudep commented on #244
Thanks for that example. The problem is that the font is defined in your SVG with the `<font>`/`<glyph>` tags, which is not supported by svglib. As it seems to be deprecated (see https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font), we won't work on that support. You should update the svg to reference a real font instead.

[2020-07-08 10:02] #244 closed

[2020-07-10 18:15] nettlef opened #245 "Spines (borders) are not converted"
When spines (borders) of matplotlib graph are set to not visible or different colour,
this is not transformed correctly by svg2rlg.

[2020-07-10 22:16] deeplook commented on #245
Please provide some code.

[2020-07-11 07:35] nettlef commented on #245
from svglib.svglib import svg2rlg
from reportlab.pdfgen import canvas
from reportlab.graphics import renderPDF

rlg = svg2rlg("test.svg")
c = canvas.Canvas("example.pdf")
c.setTitle("my_title_we_dont_care")
renderPDF.draw(rlg, c, 80, 740 - rlg.height,showBoundary=False)
c.showPage()
c.save()

At this moment I solved the issue by editing the svg produced by matplotlib (removing the defs part at the

[2020-07-11 08:05] claudep commented on #245
Could you please add more details on what exactly is not looking right, maybe with screenshots?
Can you confirm that you are using svglib 1.0.0 ?

[2020-07-11 08:41] deeplook commented on #245
BTW, this text is shown when creating a new issue:

[2020-07-11 08:43] deeplook commented on #245
BTW, this text is shown when creating a new issue...

"""
When submitting a new issue please try to be as concise and precise as possible.
This means to show only minimal SVG or PDF files that show something unexpected.

In times of widely available files infected with malicious code on the net, it
is also appreciated to better include bitmap snapshots of your PDFs inside an
issue.

Otherwise plea

[2020-07-12 00:41] tonioluna commented on #207
Having the same issue with a different svg image. drawToFile's dpi argument does not work, it just modifies the size of the output file but not its resolution. Adding this comment just in case a solution or follow up is added.

[2020-07-14 05:14] deeplook commented on #207
I would also first scale it like you did. It the result looks jagged that could be because of its path definition, but I see it does contain cubic Bézier curves like in this pretty similar example here: https://www.sitepoint.com/closer-look-svg-path-data/ Maybe you want to compare with that? The test suite perfectly runs most flags from Wikipedia and they should be full of such curves.

Else I hop

[2020-07-14 07:46] replabrobin commented on #207
without the actual svg it's hard to answer any question like this. If I squash the large image the flats disappear, so are the curves bezier? I think the assertion in renderPM is 1pixel == 1pt for PDF compatibility. The dpi value is not used internally in the drawing code, but is passed to PIL via im.save.

[2020-07-14 07:48] fourjr commented on #207
@replabrobin The SVG file I used is liked above in a gist.

[2020-07-14 08:32] replabrobin commented on #207
It's not working for me; I just see the loading gif for a few seconds and then  "Sorry, something went wrong. Reload?"

[2020-07-14 09:23] fourjr commented on #207
Does this work? @replabrobin https://gist.github.com/fourjr/ab90768916faa5d92cb26c106d598821

[2020-07-14 10:10] replabrobin commented on #207
I'm afraid not, as before just the placeholder circling and then something went wrong. I am using chromium 83 on arch linux latest

[2020-07-14 11:06] deeplook commented on #207
[code]

[2020-07-14 11:09] replabrobin commented on #207
Thanks I'll take a look later

[2020-07-14 15:34] replabrobin commented on #207
Hi I had a look at this problem and it seems to me that the internal libart code is scaling after discretization instead of scaling before. I'll see if there's a better way to do curves in _renderPM.

[2020-07-14 16:16] replabrobin commented on #207
OK I looked in the _renderPM code and it seems that our smoothness is dictated by the parameter 0.25 passed into

vpath = art_bez_path_to_vec(self->path, 0.25)

which converts beziers into vector paths. Everywhere that is used it is followed eventually in _renderPM.c by a call to
art_vpath_affine_transform(vpath, self->ctm) to scale the vpath by the current transformation matrix.

I wonder if that

[2020-07-26 09:57] molitoris opened #246 "Size in percent take into account the total size instead of the size of the surrounding container."
I am drawing an SVG graphic that contains a container with absolute size. The elements contained in it have relative sizes and are drawn accordingly.

When converting to PDF, the nested elements have a different size. It appears that the nested elements are drawn relative to the total size. I expect that the size of the nested elements will also be drawn in PDF relative to the surrounding containe

[2020-07-27 15:46] claudep commented on #83
I think all previously reported artefacts are now gone.

[2020-07-27 15:46] #83 closed

[2020-07-27 15:48] claudep commented on #245
Please reopen as soon as you can provide us some more details.

[2020-07-27 15:48] #245 closed

[2020-07-27 15:50] claudep commented on #221
Fixed by b0f5d863953dbd116042582da499ea48e04101f1

[2020-07-27 15:50] #221 closed

[2020-07-27 15:52] claudep commented on #246
Maybe you want to check the above patch whether it solves your issue?

[2020-07-27 19:41] rosteen opened #248 "Cannot read SVG files output by bqplot"
I have a project that uses [bqplot](https://github.com/bqplot/bqplot) to render some plots and (I hope) save the results out to SVG files for later conversion to other formats. However, when attempting to read the output SVG files with `svglib`, the read fails with the error below. I'm generally unfamiliar with SVG files, but since these files seem to render fine in a browser my initial guess is t

[2020-07-27 19:48] claudep commented on #248
Looks like the file uses advanced CSS features like css variables. It might be that cssselect2 doesn't support those. Could you try to report the error to cssselect2 (and link the report from here)?

[2020-07-27 20:08] rosteen commented on #248
Thanks for the quick reply - I created an issue there. I also just realized that one of the `bqplot` devs raises the possibility of their use of CSS variables causing problems (in other software) in [bqplot issue 1159](https://github.com/bqplot/bqplot/issues/1159).

[2020-07-27 20:15] claudep commented on #248
Requiring complex css engine just to render SVG is very unfortunate, to say the least. The browser engines are becoming monsters because of the stack of more and more complex technologies to support. But ranting apart, `svglib` is counting on `cssselect2` to interpret CSS, so I'm afraid we won't able to fix this ourselves. Feel free to reopen if you have any other idea.

[2020-07-27 20:15] #248 closed

[2020-07-28 07:44] molitoris commented on #246
Thank you for your help.

I am not sure, if I install the svglib correctly. I ran the following command `pip install git+git://github.com/claudep/svglib.git@issue246
` to install the adapted svglib package.

[2020-07-28 11:52] claudep commented on #246
Chances are that if you didn't get errors, the install worked!

[2020-07-28 13:33] molitoris commented on #246
After setting up a new environment and install all dependencies again, I got the expected result. However, when I ran it with a larger SVG image, I get the following warning multiple times: `Unable to resolve percentage unit without knowing the node name`. The resulting pdf has a lot of scaling problems.

[2020-07-28 13:35] claudep commented on #246
Would be great if you could post one of those SVGs (or send it directly to me).

[2020-08-04 13:12] mosc9575 opened #249 "[Feature] Anable font registration from outside svglibs"
It would be a great help if there was the opportunity to register a font from outside of the svglib in the same way it is possible in the included ```reportlab``` module.

Right now a font has to be in the folder  ```~/.fonts``` and the string for the font that should be registered has to be exact the same like the file with the ```.tff``` extension.

At the moment, it is possible to check if a fo

[2020-08-09 10:18] deeplook commented on #249
That sounds right. Do you feel like providing a patch?

[2020-08-10 06:30] mosc9575 commented on #249
I never did before but I could try.

[2020-08-25 18:43] vinithius2 opened #250 "Fix stranger grey star in label of the graphic library Plotly"
I want to remove this little star, the problem is with the **svg2rlg** library and not with Plotly, I did a little test, follow the small script and the results:.

Result using the svg2rlg library to convert SVG to ReportLab:
[![enter image description here][1]][1]

Plotly Result:
[![enter image description here][2]][2]

    import os
    import pathlib
    from reportlab.graphics import renderPDF

[2020-08-25 18:46] claudep commented on #250
Could you please provide the .svg intermediate file?

[2020-08-25 19:25] vinithius2 commented on #250
[svg_and_pdf.zip](https://github.com/deeplook/svglib/files/5125865/svg_and_pdf.zip)

@claudep follow this zip file, github no accept svg file.

[2020-08-25 20:02] claudep commented on #250
Thanks. I identified the issue being this rect: `<rect class="scrollbar" rx="20" ry="3" width="0" height="0" style="fill: rgb(128, 139, 164); fill-opacity: 1;" x="0" y="0"/>` where the rx/ry values are greater than height and width.
The specs say: `If rx is greater than half of the width of the rectangle, then the browser will consider the value for rx as half of the width of the rectangle.`

The

[2020-08-26 06:54] #246 closed

[2020-08-26 08:07] mosc9575 commented on #249
The changes in #252 should add the wanted behavior.

[2020-08-26 15:49] #249 closed

[2020-08-26 16:15] claudep commented on #250
@replabrobin, sorry I don't find the new issue location for reportlab. There is a remaining issue here that a rect is stroked even with a strokeWidth to 0. Minimal example:
[code]

which gives a `<reportlab.graphics.shapes.Rect object>` with the following properties:
[code]

Do you have any idea why this rectangle is drawn by ReportLab even with strokeWidth to 0?

[2020-08-26 17:20] replabrobin commented on #250
Hi Claude, the strokeWidth==0 case is special in PDF which is why we have it still drawing. Andy Robinson told me that a stroke width of 0 is used by PDF renderers to draw the thinnest possible line in the medium they render to.

Quoting from the PDF 1.7 spec

"A line width of 0 denotes the thinnest line that can be rendered at device resolu-
tion: 1 device pixel wide. However, some devices cannot

[2020-08-26 17:23] claudep commented on #250
That's a pretty precious information to have. Thanks a lot!
I think we can rather easily workaround that issue, now.

[2020-08-26 18:22] #250 closed

[2020-09-07 07:26] Luvideria commented on #136
Is there any documentation whatsoever yet?
I couldn't find out what api is available or how it interacts with a canvas, if it's possible to use svglib to concatenate svgs in one pdf.

[2020-09-08 13:50] deeplook commented on #136
Sadly, there isn't. I'd surely like to see it happen, but there is maybe not so much to document, after all? Most people will likely use the command-line tool or a single function to use svglib programmatically. But, yes, some Sphinx pages would be nice, some notebooks, too...

[2020-09-20 16:56] flyme2bluemoon opened #253 "SVG to PDF text missing"
Trying to convert svg file to pdf file. Although it converts images properly, the text is missing in the pdf. Using Python 3.8.2 on macOS Catalina 10.15.6. Installed svglib using pip3.

[2020-09-20 17:00] flyme2bluemoon commented on #253
Also, converting svgz file to pdf raises the following error:
[code]

[2020-09-20 17:19] claudep commented on #253
Hi Matthew, having access to the source files is mandatory to debug your issues.

[2020-09-20 17:26] flyme2bluemoon commented on #253
[page_50.svgz.zip](https://github.com/deeplook/svglib/files/5252176/page_50.svgz.zip)

Hey Claude,

I wasn't able to upload the svg directly but here is a ZIP file containing the SVG file.

Thanks for looking into it!

[2020-09-20 18:40] claudep commented on #253
With the suggested pull request, the text now appears.

However your next issue might be embedded fonts. Are the embedded woff fonts PostScript otf or TrueType ttf? Reportlab currently doesn't support PostScript fonts, so there is nothing we can do in that case.

About the svgz issue, the problem is that your file is not compressed, so this is a svg file not a svgz one.

[2020-09-20 18:44] flyme2bluemoon commented on #253
Hey Claude, thanks so much for all the help! So, how can I update it using pip3? Also, can I just take the svgz file and rename it with the svg file extention? Thanks again!

[2020-09-20 18:51] claudep commented on #253
As soon as the patch is committed (when the tests finish), you should be able to pip-install it (see https://adamj.eu/tech/2019/03/11/pip-install-from-a-git-repository/).

Yes, you can simply rename the svgz extension to svg.

[2020-09-20 18:54] claudep commented on #253
My stance about font support is not totally right, as there are tools (like https://github.com/fonttools/fonttools) that allow for font format conversion. However this is a rather big task, not planned in the short term.

[2020-09-20 18:57] flyme2bluemoon commented on #253
I'm not sure what fonts are used in the SVG since I didn't create them.

[2020-10-28 11:55] matiasleoni commented on #227
I get exactly the same error (repeated more than 20 times) when trying to convert svg plots produced with pygal package.

![image](https://user-images.githubusercontent.com/72895418/97432803-506b4f80-18fb-11eb-920b-637ddd42fdc7.png)

[2020-10-28 12:48] claudep commented on #227
Please provide the SVG source!

[2020-10-28 13:38] matiasleoni commented on #227
Hi! Here it is:

[code]

[2020-10-29 07:12] #227 closed

[2020-10-29 07:16] claudep opened #256 "ReportLab 3.5.54 dropped support for Python 3.5"
We should either adapt the CI files to set a maximal ReportLab version when running on Python 3.5, or also drop testing on Python 3.5. Patch welcome.

[2020-10-29 07:47] deeplook commented on #256
I'd opt for dropping Python 3.5.

[2020-11-19 05:22] #253 closed

[2020-11-30 15:15] emilie-pattyn opened #257 "RenderPDF and RenderPM not working"
Hello,
This is my code:

from svglib.svglib import svg2rlg
from reportlab.graphics import renderPDF, renderPM

drawing = svg2rlg('C:/Users/..../newplot 1.svg')
print(drawing)
renderPDF.drawToFile(drawing, "abcde123.pdf")
renderPM.drawToFile(drawing, "file.png", fmt="PNG")

The print(drawing) gives <reportlab.graphics.shapes.Drawing object at 0x000001AF1581D1C0>, but no files are created in the fol

[2020-11-30 15:21] claudep commented on #257
I guess the files are created in the directory you are in. You can provide full paths instead so you have no doubt about the file destination.
Note that the ticket tracker is not aimed for support but for bug reporting, you should use forums (Stackoverflow and such) to get help.

[2020-11-30 15:21] #257 closed

[2020-12-15 16:27] #256 closed

[2020-12-15 16:28] claudep commented on #228
Done in aec51e1

[2020-12-15 16:28] #228 closed

[2020-12-16 07:52] pavlix commented on #156
Do I understand correctly that reportlab is the first tool I'm using that cannot pick up system fonts used by *all* other applications I ever used? I have never been forced to specify fonts by full file system path to be honest.

[2020-12-16 10:02] MrBitBucket commented on #156
reportlab has a search path for fonts; font usage is a very grey area so far as licensing is concerned because font designers want payment. The default search path for ttf is

TTFSearchPath = (
				'c:/winnt/fonts',
				'c:/windows/fonts',
				'/usr/lib/X11/fonts/TrueType/',
				'/usr/share/fonts/truetype',
				'/usr/share/fonts',				#Linux, Fedora
				'/usr/share/fonts/dejavu',		#Linux, Fedora

[2021-01-03 09:43] bmxp commented on #142
@deeplook Is there any chance that gradients will be supported by svglib in future? I would love to create a PDF documentation for our Open Soruce project but since there are svg containing gradient fills I can not build it...

[2021-01-03 09:50] claudep commented on #142
Unfortunately, I'm afraid that until reportlab adds better support for gradients, it will be **very** difficult to make any progress in svglib.

[2021-01-03 10:41] deeplook commented on #142
I would love to see gradient support in reportlab, too. And it might not be that difficult to implement there. @replabrobin, any chance of getting this as a (late) X-mas present, maybe? ;)

[2021-01-05 10:30] replabrobin commented on #241
FWIW I have just abandoned travis as a means of getting multibuild manylinux builds. It got slower and slower over the last year and they now have a token system. I already have appveyor building for windows and have moved the reportlab linux/macos building to github actions. I bit painful because  we are still using mercurial for scc, so a mirroring process is called for to take our repos into gi

[2021-01-05 11:17] replabrobin commented on #142
I suppose that to get gradients supported in reportlab would require us to change the colour model to allow gradient type objects as a colour. That implies that everywhere we push a colour onto a canvas we would need to handle the new gradient case.

I imagine we might be able to do this for the PDF canvas by hacking on the _PDFColorSetter class. Before that we have to define the pattern and enure

[2021-01-05 13:51] morphonedev commented on #88
Ragarding this issue I tested a little. (Platform Windows 10)
Created a test svg in Inkscape and got something like this : [FontSample.svg.txt](https://github.com/deeplook/svglib/files/5770408/FontSample.svg.txt)
(Had to rename it to txt to get it uploaded).
While the intended result is:
![IntendedResult](https://user-images.githubusercontent.com/51243253/103652721-ce834c80-4f63-11eb-8211-6a40af34

[2021-01-07 17:10] deeplook commented on #88
All contributions are welcome! Just make sure to check if this is something to add to svglib or rather to reportlab itself, maybe.

[2021-01-16 14:10] #97 closed

[2021-01-17 10:43] deeplook opened #262 "Add demos for online UIs?"
I've hacked a quick online UI prototype for svg2pdf with streamlit.io. It's only ca. 70 lines of code, see this [gist](https://gist.github.com/deeplook/8beca541a937e751f0c50a95a9e8d6fb). While streamlit.io has its pro's and con's, other frameworks would also be possible, think Jupyter notebooks. So the question is, I guess, should we add such things as mini demos perhaps, to the code base, and how

[2021-01-17 10:45] deeplook opened #263 "Enable GitHub discussions?"
How about enabling the GitHub discussions feature which could be useful e.g. for things that need to be opened as issues like https://github.com/deeplook/svglib/issues/262.

[2021-01-17 10:59] claudep commented on #262
Cool! Feel free to dedicate a subdirectory to such examples.

[2021-01-17 11:01] claudep commented on #263
For me, discussions on tickets is sufficient for my needs, but if you want to try something else, why not.

[2021-01-17 11:18] deeplook commented on #263
I've enabled discussions. Will add some text to the issue templates later, too...

[2021-01-17 11:18] #263 closed

[2021-01-18 18:32] jayceslesar commented on #209
Still getting this issue...It only happens with time series plots on plotly in my case, or maybe it only happens on graphs with more than x data points. I want to think it is a plotly issue because svg2rlg works fine on histograms as well as bar graphs that are also generated from plotly....

[2021-01-22 16:22] claudep commented on #193
It looks like some progress has been made on Reportlab's side (from version 3.5.60). See:
 - https://pairlist2.pair.net/pipermail/reportlab-users/2021-January/012029.html
 - https://pairlist2.pair.net/pipermail/reportlab-users/2021-January/012032.html

[2021-01-26 20:58] patrick-brian-mooney opened #267 "Demo code fails on fresh install."
I'm unable to follow through the first snippet of sample code [here](https://pypi.org/project/svglib/) after a fresh install (Python 3.5, Linux Mint 20 x64):

[code]

Surely it should be possible, with `pip`, to install all supporting libraries correctly?

[2021-01-26 22:04] claudep commented on #267
Reportlab dropped support for Python 3.5 recently: https://hg.reportlab.com/hg-public/reportlab/rev/0d3835d23cdc
You should install Reportlab 3.5.54 or older.

And you should think about upgrading Python sooner or later, as Python 3.5 is no longer an officially-supported version. svglib might also drop it soon.

[2021-01-26 22:04] #267 closed

[2021-01-27 00:11] patrick-brian-mooney commented on #267
Thanks. I was trying to maintain Python 3.5 compatibility in an existing project so as not to force users into upgrading, but I guess that that's not plausible here.

[2021-02-01 21:24] deeplook commented on #88
Can we close this now that we have https://github.com/deeplook/svglib/pull/268?

[2021-02-01 21:58] claudep commented on #88
I just test the above font svg file, and all lines render fine except the `Times-Italic weight 800` one. But this could be handled in a new ticket, discussing how numeric font weight should be handled (e.g. > 700 could be converted to Bold).

[2021-02-01 22:56] deeplook commented on #88
Fine, then let's close this, and feel free to open a new one.

[2021-02-01 22:56] #88 closed

[2021-02-03 21:04] claudep commented on #241
After 29733e6c1, we use now GitHub Actions.

[2021-02-03 21:04] #241 closed

[2021-02-04 07:30] claudep opened #273 "Cache some external files downloaded during test runs"
To avoid connectivity issues during running CI tests and save some bandwidth, it should be great if we could cache access to the SVG test suite and the Wikipedia flags. https://docs.github.com/en/actions/guides/caching-dependencies-to-speed-up-workflows has some tips for that.

@eumiro, do you think that would be feasible?

[2021-02-04 12:36] deeplook commented on #273
Would make a lot of sense.

[2021-02-04 16:39] eumiro commented on #273
Sounds like a good idea, I can have a look at that later. Did you try anything?

[2021-02-04 16:55] claudep commented on #273
No, I trust experts :-)

[2021-02-11 19:20] #273 closed

[2021-02-12 11:09] lueis opened #277 "Allow Capital in E-Notation floats."
`    floats = [float(seq) for seq in re.findall(r'(-?\d*\.?\d*(?:e[+-]\d+)', value) if seq]`

in utils:19 will only allow lower case e-notation

[2021-03-31 09:02] zhenzi0322 opened #280 "The problem with svg to png"
I am using svg to png when I encounter svg if there is a built-in png to png after the effect is not consistent with the svg image.

[2021-03-31 09:46] claudep commented on #280
Thanks for the report, but you can imagine we can do nothing with such a report. Please reopen or create a new one if you can show us the problem with samples. The reportlab version is also very important.

[2021-03-31 09:46] #280 closed

[2021-04-09 11:46] bindai commented on #107
@yjf0824  I met the same issue. Could you please share how you fix it? Thank you!

[2021-04-12 11:44] #277 closed

[2021-04-14 08:07] bindai commented on #107
`from svglib.svglib import svg2rlg, register_font
register_font('SimHei', path + '/static/simhei.ttf')`

[2021-04-16 16:17] galacticue06 opened #283 "svg2png distortions"
I have been working on a chess engine and I had to use python-chess's SVG generator. After I save the SVG, I wanted to load it into Tkinter so I converted the SVG file to PNG. However, the generated PNG file has some distortions...

I'm guessing that the issue I'm facing looks similar to https://github.com/deeplook/svglib/issues/104

(I checked python-chess's SVG and it looks normal so the distort

[2021-04-16 16:34] claudep commented on #283
Is the PDF output OK? If that's the case, it's probably a reportlab issue. Reportlab recently offered an alternate bitmap renderer, would be worth the try, see https://pairlist2.pair.net/pipermail/reportlab-users/2021-February/012037.html

[2021-04-16 17:46] galacticue06 commented on #283
PDF output is ok.

Note: Each time the png is generated, distortion creates a different pattern. This is kinda strange tho...

[2021-04-16 19:18] claudep commented on #283
Probably some thread-safety issue.

I will however close the ticket, as I don't think svglib can do anything here, sorry.

[2021-04-16 19:18] #283 closed

[2021-04-24 08:48] luoyu-123 opened #284 "svg image to pdf is an error"
How to solve the problem of reporting an error while reading the svg and creating a drawing object

![屏幕截图_6](https://user-images.githubusercontent.com/59160360/115953181-770dea00-a51c-11eb-9f19-e2d880321210.png)
code：
from svglib.svglib import svg2rlg

from reportlab.graphics import renderPDF

drawing = svg2rlg("test.svg")
print(drawing)

renderPDF.drawToFile(dr

awing, "22.pdf")

file：
[test.zip

[2021-05-17 17:52] abathur opened #285 "cssselect2.parser.SelectorError on use of `@import url(...)`"
Just trying out svglib for the first time today and ran into this error. I couldn't find another report, so I figured I should at least document it. I'm not really surprised by this, so I realize it may be a can't/won't-fix.

[code]

[code]

[2021-05-17 18:11] abathur commented on #142
I was trying out svglib today and found this issue while searching for existing reports of an error I ran into:

[code]

<details>
  <summary>simple-css-case-fill.svg</summary>

[code]
</details>

I may be over-interpreting #208, but I guess if this proceeds at some point it'll also need support in cssselect2.

[2021-05-17 18:42] claudep commented on #285
You may try to report this against cssselect2, but it is known that css support in svglib is still limited, so yes, it's not a surprise.

[2021-05-17 19:51] claudep commented on #142
Even if the `url()` reference was working, we are not supporting `<pattern>`, as I don't think there is anything in Reportlab we could build on for such a thing.

[2021-05-17 21:06] abathur commented on #142
I'm aware. That's why I said the support is only relevant if this proceeds at some point.

[2021-05-23 19:56] JamesTheAwesomeDude commented on #171
This is still present with svglib 1.1.0 and reportlab 3.5.67 / Pillow 7.0.0

I *require* support for transparent SVGs -- does anyone know of a good alternative library?

[2021-05-23 20:02] JamesTheAwesomeDude commented on #209
Sadly, `renderPM.drawTo_anything_(svglib.svg2rlg(fn), bg=0x00000000)` doesn't work/allow leaving the Alpha channel low, so this workaround only works for those who need a solid, non-tranparent background.

(That said, should this issue #209 be closed as a duplicate of #171?)

[2021-05-23 20:03] Akuli commented on #171
A hack I can think of: call `svglib` twice with different background colors, and if a pixel comes out with two different colors, make it transparent instead.

[2021-05-24 09:15] replabrobin commented on #171
Hi, because of problems claudep found in the existing graphics state I added an alternate gstate based on py cairo (package rlPyCairo). It supports 32 bit colour and theoretically I believe you could get a transparent background to work. However, the defaults are set towards the existing three colour mechanisms so extension of the rlPyCairo code might be needed.

[2021-05-26 06:42] deeplook opened #286 "Rendering emoji?"
This is mainly a question for @replabrobin, but I put it here because there is no issue management for reportlab on github. ;)

So I would like to render emoji in SVG and came up with this initial attempt giving me the much expected black squares. Is there any way reportlab could make this work as expected?

[code]

<img width="814" alt="Screenshot 2021-05-26 at 08 41 31" src="https://user-images.

[2021-05-26 07:10] claudep commented on #286
Interesting... I tried myself with setting a specific emoji font, NotoColorEmoji.ttf, however reportlab unfortunately doesn't support the font (`reportlab.pdfbase.ttfonts.TTFError: missing location table`).

[2021-06-04 03:46] Pean-Mura opened #287 "when I transform svg to png, it will draw some black block on pngs randomly, how does it happen?"

[2021-06-04 07:05] deeplook commented on #287
Please share some code.

[2021-06-04 07:21] Pean-Mura commented on #287
![0bfb4e39-ef17-4a6b-8c0a-fcd2cfb698ec](https://user-images.githubusercontent.com/70005731/120761469-cac21900-c547-11eb-827d-c45a8ceaea36.png)
above is the png I got .below is the origin svg
![image](https://user-images.githubusercontent.com/70005731/120762092-7c614a00-c548-11eb-9c24-9e7e309ee696.png)

                        drawing = svg2rlg(file)
                        renderPM.drawToFile(draw

[2021-06-04 08:42] deeplook commented on #287
Please share a complete minimal example.

[2021-06-04 09:06] Pean-Mura commented on #287
[m.zip](https://github.com/deeplook/svglib/files/6597153/m.zip)
This is the svg file. you can download and try it.  and then is my whole code
import tqdm
import os
import datetime
import time
from svglib.svglib import svg2rlg
from reportlab.graphics import renderPM
import traceback

def imgs_generator(path,slice_size):#分批处理图片
    imgNames = []
    def walkPath(path):
        for root,dirs,files in

[2021-06-04 09:11] Pean-Mura commented on #287
[m.zip](https://github.com/deeplook/svglib/files/6597173/m.zip)

This is the SVG file. you can download and try it maybe.

and then is my code:
`import tqdm
import os
import datetime
import time
from svglib.svglib import svg2rlg
from reportlab.graphics import renderPM
import traceback

def imgs_generator(path,slice_size):
    imgNames = []
    def walkPath(path):
        for root,dirs,files in os.

[2021-06-04 09:14] Pean-Mura commented on #287
[m.zip](https://github.com/deeplook/svglib/files/6597203/m.zip)
this is the SVG file. you can download and try it.
and my whole code is as flowing:
"import tqdm
import os
import datetime
import time
from svglib.svglib import svg2rlg
from reportlab.graphics import renderPM
import traceback

def imgs_generator(path,slice_size):
    imgNames = []
    def walkPath(path):
        for root,dirs,files in

[2021-06-04 14:07] deeplook commented on #287
Sorry, but I'm scared of ZIPs. ;) Would you mind putting the SVG on a gist for your GitHub account? (I've just updated the issue template accordingly.)

[2021-06-05 01:27] Pean-Mura commented on #287
https://gist.github.com/Pean-Mura

okay, I have did that.

[2021-06-05 01:49] Pean-Mura commented on #287
okay, I have done.
https://gist.github.com/Pean-Mura/9c04ad0c48ad831684da55eca40a8a81

[2021-06-05 07:36] deeplook commented on #287
I've had a look at your SVG files using the following snippet to generate PNGs for all:

[code]

I can see artifacts near some letters like B in 1.svg and 2.svg, but they don't look like black squares to me. See attached images. The Chinese (?) letters seem to be ignored in the PNG output, and appear with outlined squares in PDF output. This is likely a font issue.

For the artifacts you describe

[2021-06-05 07:45] Pean-Mura commented on #287
Yeah, it's true that chinese characters will be ignored too. Is there anymethod to solve this problem?

[2021-06-05 09:31] deeplook commented on #287
You can try using a dedicated font and/or find some clues in https://github.com/deeplook/svglib/issues/89.

[2021-06-05 23:29] JamesTheAwesomeDude commented on #171
For now, it looks like [CairoSVG](https://cairosvg.org/) works for people who _must_ have transparency and can't wait for this project to support it

[code]

[2021-06-08 02:13] #287 closed

[2021-06-13 14:36] abathur commented on #285
liZe responded in https://github.com/Kozea/cssselect2/issues/22#issuecomment-860178689:

[2021-06-22 12:04] dcarbone commented on #284
Looks to me like you're missing a font pack.

https://docs.microsoft.com/en-us/typography/font-list/fangsong

Try installing that font pack, see if it works.

[2021-07-02 15:10] deeplook commented on #207
@replabrobin What is the state of this? I find the very same effect as shown below (recorded inside a Jupyter notebook).

[code]

![apple_renderpm](https://user-images.githubusercontent.com/1001778/124294525-16bca980-db58-11eb-91be-c7e47e322084.gif)

[code]

![apple_renderpdf](https://user-images.githubusercontent.com/1001778/124294623-305df100-db58-11eb-871f-ca804bf349b0.gif)

[2021-08-18 01:34] arkbene opened #290 "Incorrect rendering of masked images"
[minimal-bug.svg.zip](https://github.com/deeplook/svglib/files/7003898/minimal-bug.svg.zip)

produces:

[minimal-bug.pdf](https://github.com/deeplook/svglib/files/7003899/minimal-bug.pdf)

[2021-08-18 06:34] claudep commented on #290
Yes, this is documented in the README under Known limitation: `clipping is limited to single paths, no mask support`.

If you have an idea to implement masks with Reportlab machinery, feel free to share your ideas.

[2021-08-18 06:34] #290 closed

[2021-08-23 03:43] hbh112233abc opened #291 "svg convert to pdf with gray images"
**svg image**
[temp1629451352.8199928.svg.zip](https://github.com/deeplook/svglib/files/7029013/temp1629451352.8199928.svg.zip)
**convert to pdf**
[temp1629451352.8199928.pdf](https://github.com/deeplook/svglib/files/7029007/temp1629451352.8199928.pdf)

**env:**
win10 64bit
python 3.7 64bit
svglib 1.0.1

**demo:**
[code]

**error display**
![微信截图_20210823115413](https://user-images.githubuserconte

[2021-08-25 08:53] deeplook commented on #291
You don't provide much information except for the files. But I assume you don't expect the upper left black labels to be where they are, and I guess they are a copy of the lower right red ones. Can you strip down the SVG to a minimal size that shows this effect, please?

[2021-08-26 15:30] marie-bnl opened #292 "clipPath ignored with PNG rendering"
### The SVG I have

![bildo](https://user-images.githubusercontent.com/39555268/130991190-3297adc9-3364-43d4-a40f-a50a2e75c09d.png)

[svg source](https://dpaste.org/GP85/slim#L3,4,5,6,7,8,11,14)

### The PNG it produces

![bildo](https://user-images.githubusercontent.com/39555268/130991097-32cba04d-c768-4d09-80b9-284216909072.png)

### Additionnal context

OS: Windows 10 / Arch Linux (this happens

[2021-08-26 19:58] victorbnl opened #294 "Use a setup.cfg"
Discussions about the future PR using setup.cfg

[2021-08-28 07:49] replabrobin commented on #292
Hi Victor, unfortunately the renderPM/PDF/PS/SVG csnvasses sre all slightly different.from the original pdfgen/canvas.py code. The shapes.path class does allow isClipPath to be set so if png is not obeying the setting then presumably we will have to mess with the renderPM canvas/renderer classes to amke it work.

[2021-08-30 03:48] hbh112233abc commented on #291
the problem is the output pdf file has error! the svg image not found error!

[2021-08-30 07:00] deeplook commented on #291
@hbh112233abc You can help debugging by minimizing your SVG to a version that shows the undesired effect.

[2021-09-04 01:35] nick-ganju opened #299 "Weird black and white lines in SVG rendering to PNG"
Hi, thanks for making this library for all of us!

I'm trying to use your library to convert an SVG to PNG.  When I try the simple code:
`from svglib.svglib import svg2rlg
from reportlab.graphics import renderPDF, renderPM

drawing = svg2rlg("svg.txt")
renderPM.drawToFile(drawing, "temp.png", fmt="PNG")`

I get a lot of black and white lines in the PNG.  I've attached both the source SVG and the g

[2021-09-04 20:34] #294 closed

[2021-09-05 14:57] deeplook commented on #299
The PDF output seems fine, so it looks like an issue with the reportlab bitmap renderer for which @replabrobin is the authority. Can you generate a minimal file showing this behaviour?

[2021-09-05 20:40] victorbnl opened #300 "Convert rst to markdown"
I'd like to make a pull request to convert READMEs and other documents like NOTES from rst to markdown, as it's simpler, more used, more understood... Meaning people could understand it more easily when reading it directly and contribute more easily. Are you interested?

[2021-09-06 07:44] deeplook commented on #300
The "simpler" usually refers only to markup for hyperlinks (simpler in Markdown, indeed), and in the only three ReST files we have we don't seem to use any advanced markup options, so the added value would seem questionable to me. Many well-known packages are using ReST or even a mix of ReST and MD, like https://github.com/scikit-learn/scikit-learn. ReST is without doubt the more expressive format

[2021-09-06 07:59] claudep commented on #300
If the added value is not plainly evident, I agree with @deeplook.

[2021-09-06 07:59] #300 closed

[2021-09-13 11:45] replabrobin commented on #299
Hi this is caused by our PM renderer backend based on libart_lgpl not coping with with complex paths. If you have a late model reportlab you can use a cairo based PM renderer which seems better. This involves 1) installing libcairo2 in the OS; then pip install pycairo cairocffi rlPyCairo and finnaly adding a settings override reportlab_settings.py (on the python path) and putting renderPMBackend='

[2021-09-13 11:52] replabrobin commented on #299
There are an infinite number of other graphics renderers and probably we should be using AGG or SKIA, but those a AGG is unmaintained and SKIA is just vast.

[2021-09-13 14:03] replabrobin commented on #299
Also I have no real idea which is best pycairo or cairocffi; they both seem to use libcairo, but I just assumed cffi would be better as presumably it uses python + cffi rather than using a compiled extension.

[2021-09-29 15:09] cbeytas opened #302 "Render drawing with dasharray="0" freezes up"
If `stroke-dasharray="0"` is specified, renderPM freezes up using 100% CPU.
All major browsers (Chrome, Firefox, Edge) render it as a solid line.

[code]

[2021-09-29 15:15] cbeytas opened #303 "stroke-opacity not supported?"
Seems that stroke-opacity is not supported? It always defaults to "1"

[code]
![chrome](https://user-images.githubusercontent.com/4748055/135297669-918d4d79-d136-4875-9bcd-9a5ca1b5166f.png) Chrome
![svglib](https://user-images.githubusercontent.com/4748055/135297677-081d9518-1e02-49c3-9316-75609101d66a.png) svglib

[2021-09-29 17:04] deeplook commented on #303
I see there is a test for it which indicates it is preserved: https://github.com/deeplook/svglib/blob/64c49440dc57104768e2c9e7d8337c68c010e1c8/tests/test_basic.py#L446

Have you tried that?

[2021-09-29 18:14] cbeytas commented on #303
It does render mostly ok to a PDF file.
This seems to indicate a problem with the reportlab renderPM instead. I'll close this bug.

![pdf](https://user-images.githubusercontent.com/4748055/135325028-f92d63b4-29c3-4935-8fb9-565318a7f70d.png)
![pdfclose](https://user-images.githubusercontent.com/4748055/135325280-a50c3373-3f0c-468a-9d6f-7370bbe8b100.png)

[2021-09-29 18:14] #303 closed

[2021-09-29 18:18] cbeytas commented on #302
Rendering to PDF throws an exception. I suppose this is a Reportlab issue, not svglib.
[code]

[2021-09-29 18:18] #302 closed

[2021-12-24 06:43] tobyclh opened #306 "SVG file from Google Presentation won't parse"
Hi

I have some files from exported from Google presentation that cannot be parse for some reason.

```drawing = svg2rlg(args.input)```

Log
[code]
### Screenshot of the SVG
![image](https://user-images.githubusercontent.com/12501995/147325365-7a5ddc09-fc13-44b2-bd75-936ddf5ab46c.png)

If I change
`xn, yn = points[-2] + nums[0], points[-1] + nums[1]`
 to
`xn, yn = points[-2] + nums[0], points[-1]

[2021-12-24 08:19] claudep commented on #306
I cannot reproduce the error with svglib master. Can you tell us which version of svglib you are using?

[2021-12-24 08:37] tobyclh commented on #306
I was using the version on pop on Ubuntu 20.04.
I will report back again later after trying out master.
Thank you!
On Fri, Dec 24, 2021 at 17:19 Claude Paroz ***@***.***> wrote:

[2021-12-28 09:37] tobyclh commented on #306
Upon building it from master the issue resolves.
Thank you!

[2021-12-28 09:37] #306 closed

[2022-01-25 21:20] knobix opened #313 "Since the 1.2.0 release the "svg2pdf" script doesn't work anymore"
Hi,

with the 1.2.0 release the included script `svg2pdf` has issues upon invocation (Python 3.8):

[code]

If the script in `scripts/svg2pdf` is copied to `svglib/svg2pdf.py` before build/installation the console script runs as expected.

Please let me know if you need further info.

[2022-01-25 21:39] claudep commented on #313
I don't see any related change recently in source code.

[2022-01-25 22:17] knobix commented on #313
I'm able to reproduce it within a fresh virtualenv:

[code]
If I try to run `svg2pdf` it fails although with lesser lines of backtrace info:
[code]
The location of the `svg2pdf` script:
[code]
The file contents of the script:
[code]
If use `pip install svglib==1.1.0` instead the script located at `bin/svg2pdf` works as expected. Its content is also the same as in `scripts/svg2pdf` of this reposito

[2022-01-26 07:39] claudep commented on #313
Thanks a lot for the details. Until now, I guess the most probable offender is commit 15da63475. @victorbnl, would you be able to participate in searching what's wrong with 1.2.0? Typically, when comparing the installed trees, I can see a new `entry_points.txt` file in .dist-info directory. So maybe the issue is with the conversion of the previous `scripts=['scripts/svg2pdf'],` line in `setup.py`

[2022-01-26 07:43] claudep commented on #313
https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html gives explanations about the difference between `scripts` and `console_scripts`.

[2022-01-26 08:09] claudep commented on #313
If I understand it, moving from `scripts` to `console_scripts` is not just changing setup things, but also moving the `scripts/svg2pdf` content into the main source tree. For now, I guess it would be safer to revert that change and maybe do that move later for 1.3.0.

[2022-01-26 09:57] tsoos99dev commented on #171
Following up on @Akuli 's answer:

[code]

[2022-01-27 19:48] #313 closed

[2022-01-27 19:54] claudep commented on #313
Just released 1.2.1. Hopefully your issue is gone now.

[2022-01-27 21:01] knobix commented on #313
Indeed, I can confirm that the issue is gone now.  Many thanks for the quick resolution!

[2022-02-04 11:10] stefanw opened #315 "TypeError when using `em` units because `em_base` defaults to `None`"
Using `em` units in `width` and `height` of the `svg` tag like this:

[code]

leads to a `TypeError: unsupported operand type(s) for *: 'float' and 'NoneType'`.

<details>
<summary>Full traceback</summary>
<pre>
Traceback (most recent call last):
    drawing = svg2rlg(filename)
  File "svglib/svglib.py", line 1449, in svg2rlg
    drawing = svgRenderer.render(svg_root)
  File "svglib/svglib.py", li

[2022-02-04 12:03] deeplook commented on #315
Sounds reasonable to me. Are you able to run/test it ok with a value of 12?

[2022-02-04 13:24] yeyeto2788 opened #316 "V1.2.1 Broken import"
Hey guys! I just found out that there is a broken import on module with latest version (1.2.1) I tried latest version of a software using the library and it seems to be related to the library itself as installing older version (1.1.0) fixes the issue.

OS: Ubuntu 20.04
Python: 3.8.10

Error:

[code]

Traceback:
[code]

If more info is needed just ping me.
Best.

[2022-02-04 13:32] claudep commented on #316
Thanks for the report. Yes, this import is new, and it appears `reportlab.graphics.transform` only exists since reportlab 3.5.61 (mmult was in `reportlab.graphics.shape` before), so a conditional import should be done here. You may upgrade your reportlab installation meanwhile.

[2022-02-04 13:39] yeyeto2788 commented on #316
Thanks for the heads up and for the quick reply.

[2022-02-04 17:01] #316 closed

[2022-02-05 15:10] stefanw commented on #315
Yes, with a value of 12, it works. I opened PR #317 that fixes this by introducing a `DEFAULT_FONT_SIZE` variable and using it throughout the code where there was a magic `12` before. A test for `em`-dimensions is in there as well.

[2022-02-06 21:27] #315 closed

[2022-02-09 01:26] donkirkby opened #319 "Zero-length line not drawn"
Thanks for publishing svglib, it's been really helpful in several of my projects.

## The Problem
I know this sounds odd, but drawing a line of length zero with rounded end caps is an easy way to draw a dot in an SVG file. Unfortunately, the dot disappears when I convert it to PNG with svglib.

The same problem occurs with a polyline of length zero. I haven't tested it, but there might be similar

[2022-02-09 05:01] donkirkby commented on #319
## Other Shapes
I tried the other shapes in Chrome 97.0.4692.71, Firefox 95.0.1, and the PyCharm 2021.3.2 SVG viewer to see which ones were visible with a thick stroke at size zero.
* Circle doesn't appear in any.

        <circle fill="#0000ff" stroke="#000000" stroke-width="20"
            cx="150" cy="100" r="0"/>

* Ellipse doesn't appear in any.

        <ellipse fill="#0000ff" stroke="#00000

[2022-02-09 07:29] claudep commented on #319
Thanks for the detailed report. Could you please also evaluate what would be a possible fix in reportlab itself?

[2022-02-09 16:29] claudep commented on #319
The reportlab mailing list is the way to report issues and suggest patches.

[2022-02-11 16:49] #319 closed

[2022-02-19 07:31] donkirkby commented on #171
Here's one line equivalent to @JamesTheAwesomeDude's CairoSVG example:

    from cairosvg import svg2png

    svg2png(file_obj=StringIO(svg_text),
            write_to=png_file_name,
            background_color='transparent')

[2022-02-24 09:26] mtalhagaoglu commented on #223
Hi,

I am using foreignObject to use break lines in the text but as it we understand while the conversion of SVG to PDF HTML tags disappear. Is there a way to bring them back or should i just look for <tspan> thing?

[2022-02-25 19:21] #223 closed

[2022-03-30 13:32] ronak1009 opened #327 "Error in Converting sup/sub script text"
I generate a svg using Plotly which correctly adds the superscript/subscript characters to the chart title/label as seen in the fig below:
![image](https://user-images.githubusercontent.com/12443143/160845549-9b000452-ae2f-49bc-adc7-36dbbb2e0017.png)

But when the svglib is used to convert the svg into flowables and then pdf is printed using reportlab, the subscript/superscript characters in the c

[2022-03-31 06:31] ronak1009 commented on #327
I could figure out that the lib is not able to correctly interpret font-size attribute with % units. It seems that it is looking for absolute values.
`<tspan style="font-size:70%" dy="0.3em">`

[2022-04-04 10:27] deeplook commented on #327
This could be a low hanging fruit. Do you want to give it a try?

[2022-04-06 01:28] justingolden21 commented on #207
The fix above doesn't seem to apply to stroke

`drawing.scale(scale, scale)`

[2022-04-06 01:29] justingolden21 commented on #207
Seems to just be a limitation of svglib: https://stackoverflow.com/questions/68242812/in-python-convert-svg-to-png-while-resizing-and-increasing-quality

[2022-04-06 01:54] justingolden21 commented on #207
GOT IT FIGURED OUT

You can just convert from SVG to PDF then from PDF to PNG:

[code]

All other implementations online either require Pillow (which is a massive pain, struggled with that for several hours during several days a while ago) or CairoSVG (which is near impossible to get working on Windows)

[2022-04-06 02:46] retsyo opened #328 "converted characters flock"
I installed latest `svglib` and `reportlab-3.6.9-cp38-cp38-win_amd64.whl` on `python-3.8.1.amd64` on my windows 10 64 bits.

however the generated png and pdf is in a mess

the original svg and generated pdf/png is in the attached zip
[tmp.zip](https://github.com/deeplook/svglib/files/8423142/tmp.zip)

[code]

[2022-04-06 06:20] claudep commented on #328
Your original svg looks weird, when opening it with inkscape, I'm only seeing a blank page.

[2022-04-07 09:08] retsyo commented on #328
but all of Edge/Chrome/FireFox/CairoSVG can render it correctly

[2022-04-07 10:31] deeplook commented on #328
FWIW, it looks ok in https://www.svgviewer.dev.

[2022-04-08 09:26] lws2014 commented on #299
Before step 2) you need to follow [https://stackoverflow.com/a/61164149/12579917](https://stackoverflow.com/a/61164149/12579917)

[2022-04-08 19:56] claudep commented on #328
When debuging this issue, I find different issues. It looks like `<symbol>` handling is broken in several ways currently in svglib.
I'll see if I can do something. I started in #329 by only rendering `<symbol>` when referenced, as the specs says (`A [‘symbol’] element itself is not rendered.`) It is not fixing this issue yet, as after that patch, your document will be blank.

[2022-04-08 20:08] claudep opened #330 "Support non-prefixed href"
SVG 2 supports `href` attributes without the xlink NS prefix.

[2022-04-08 20:14] claudep commented on #328
#330 was another issue hit by your file.

[2022-04-11 07:10] lythhh opened #333 "The viewBox width height of the SVGCanvas"
![1](https://user-images.githubusercontent.com/48010500/162683268-aa18086c-dfc5-4402-946f-df868f398af5.PNG)
why the viewBox is different with the width and height, is the integer of the width and height

[2022-04-13 01:14] retsyo commented on #328
no, if I use the lastet cloned svglib, my script in the beginning post can only produce blank PDF and PNG, in other words, there is no character in PDF and PNG

[2022-04-20 18:22] louis-gallo-cigna opened #335 "SVGLIB Produces Error - 'lxml.etree._Element' object has no attribute 'ancestors'"
Hello,

I have been using svglib for years. I am creating a new program whereas SVG files are inserted into a PDF file.

The SVG files are created in R package SVGLITE v2.0.0.

I am getting this error.

'lxml.etree._Element' object has no attribute 'ancestors'

Python simple code to include an SVG  file in a PDF

`from lxml import etree
from reportlab.graphics import renderPDF
from reportlab.pdfge

[2022-04-21 00:09] louis-gallo-cigna commented on #335
Moved from SVGLITE in R to CairoSVG in R. That fixed it. The two packages seem to create the SVG files differently.

[2022-04-21 00:09] #335 closed

[2022-04-21 07:25] rapto commented on #209
I seem to get the same bug when converting into pdf. A black background appears. My svg is generated by mapnik and seems to have an embedded raster image.

[2022-04-29 18:18] eddex opened #336 "Can't load SVG with gradient unless flattened"
**Description**
When I try to open an svg file that contains a gradient, the `svg2rlg` method throws an error saying `Can't handle color: url(#_Linear1)`.

**Steps to reproduce**

[code]

[code]
![gradient](https://user-images.githubusercontent.com/5302085/166000144-3c65c0a7-6ba7-4e70-a7ad-a8da420331c8.svg)
_gradient.svg_

**Workaround**

When I flatten the svg during export, thus replacing the `<

[2022-04-29 18:22] claudep commented on #336
`Can't handle color` is a warning, not an error. Is that a problem?
svglib (and ReportLab) doesn't support gradients, that's a documented limitation.

[2022-04-29 18:25] eddex commented on #336
The problem is that the data is missing and I can't use the loaded svg. But if this is a known limitation, it's ok. I can flatten the gradient into an image as described above.

[2022-04-29 18:44] claudep commented on #336
Unfortunately that's the right workaround, waiting for gradient support in ReportLab.

[2022-04-29 18:44] #336 closed

[2022-05-02 04:39] ronak1009 commented on #327
If you give me some heads-up, I can give it a try.

[2022-05-02 08:38] deeplook commented on #327
I see only a [few lines](https://github.com/deeplook/svglib/blob/d1abe3c56b19bbe1ac8e2c25df5ae42504e9267c/svglib/svglib.py#L1085) related to sub/sub, but no test whatsoever. Maybe that is because it would be a visual result for an eyeball test. Maybe you want to start by writing such a test, an see if the [baseline-shift](https://riptutorial.com/svg/example/10311/super--and-subscript) is handled c

[2022-05-05 15:28] cbeytas commented on #336
Can we detect when this happens so we know the resulting drawing is incorrect?
Often I get a blank or very deformed image. I'd like to raise an exception if this happens so I can substitute a default image.

[2022-05-11 10:27] #330 closed

[2022-05-12 08:12] salistha-shakya opened #338 "Unexpected delay in embedding svg to pdf while upgrading svglib to 1.2.1"
I am currently using svglib 0.9.0 and reportlab to create pdf reports from svg images and other information. While I wanted to upgrade to the latest version of svglib 1.2.1, I notice that the creation of reports in the latest version is much slower than in the older version. This has greatly impacted the overall performance. Can anyone assist me with this issue?

The minimal code for testing is pr

[2022-05-12 08:27] claudep commented on #338
Note that it might be related to the type of SVG tested, so you should also provide a SVG file which demonstrates the performance regression.

[2022-05-12 11:54] deeplook commented on #338
You can try using a profiling tool, like some listed here https://medium.com/@narenandu/profiling-and-visualization-tools-in-python-89a46f578989.

[2022-05-13 04:34] salistha-shakya commented on #338
The below image can be taken as a sample SVG image which can roughly be around 35 - 40 KB in size.

![image](https://user-images.githubusercontent.com/96405821/168211647-deeeda47-b119-4b6c-b195-ce42f904b69b.svg)

[2022-05-13 06:52] claudep commented on #338
Thanks, I was able to bisect the performance regression coming from 83d2ec043e094.

[2022-05-13 16:10] claudep commented on #338
It would be nice if you could test the patch in #339

[2022-05-17 12:57] #338 closed

[2022-05-18 14:04] dvzrv opened #341 "1.3.0: tests/samples/others not included in sdist tarball"
Hi! When trying to build 1.3.0 as a package for Arch Linux I ran into an issue with missing files.
It appears that tests/samples/others/*.svg are not included in sdist tarballs on pypi.org, which makes the tests fail:

[code]

[2022-05-18 20:44] claudep commented on #341
Thanks for the report. Hopefully the patch above should fix it for the next release.

[2022-05-19 12:27] jspobst opened #343 "Rendering issue with <tspan> and <style>"
A plotly figure I made isn't rendering correctly. The part that's failing involves a `<tspan>`, so I went and grabbed the simplest tspan example I could find from [here](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/tspan) to test further.

[code]

That _should_ produce
<img width="274" alt="image" src="https://user-images.githubusercontent.com/1304503/169291457-e9657f39-baf4-424b-ad91-

[2022-05-19 15:05] jspobst commented on #343
Given that no text after `not` shows, it almost seems as though the `</tspan>` is somehow closing the `<text>`.

[2022-05-19 19:18] #341 closed

[2022-05-19 19:24] claudep commented on #343
In #344, I tried to solve the issue of the trailing part of text nodes. The rendering of the sample above is not yet optimal, but at least it seems all text appear.

[2022-05-20 12:22] jspobst commented on #343
Hi @claudep, I see that this isn't optimal just yet, but I wanted to say thanks for the work you've already put into it so quickly. It really is appreciated!

[2022-05-20 18:45] claudep commented on #327
Part of the issue (`E-6/K` missing) will be fixed by #344.

[2022-05-20 21:19] MattiWheels opened #345 "Attributes ignored when converting to PNG"
No errors are thrown but the expected output is not produced.

SVG Document:
[code]
SVG Appearance:
![image](https://user-images.githubusercontent.com/1672142/169611274-731dcac7-2cc4-4c3a-be1c-91b0aa8f7f7e.png)

Using code based on the documentation:
[code]
Produces this result:
![image](https://user-images.githubusercontent.com/1672142/169611333-5dffdaa4-5e4e-46c2-a37b-7382b143869d.png)

Note: Th

[2022-05-20 21:58] claudep commented on #345
Confirmed, svglib does not consider the `textLength` attribute.

reportlab [String shape](https://hg.reportlab.com/hg-public/reportlab/file/tip/src/reportlab/graphics/shapes.py#l1497) does only support a limited set of attributes. Not sure if svglib could implement that or if we should simply document the limitation.

[2022-05-24 03:16] jamessappy opened #346 "Unable to convert svg to png"
Hi,

I'm trying to convert a svg file to png. I've used the following code:

          _from svglib.svglib import svg2rlg
          from reportlab.graphics import renderPM_

          _drawing = svg2rlg(svg_path)
          renderPM.drawToFile(drawing, png_path, fmt= 'PNG')_

I receive the following error message:

          _AttributeError: 'lxml.etree._Element' object has no attribute 'ancestors'

[2022-05-24 06:42] claudep commented on #346
I think a full error traceback could help spotting the issue more precisely.

[2022-05-24 23:53] jamessappy commented on #346
Are you referencing this?

_Traceback (most recent call last):
  File "c:\Users\James\Desktop\HeadlessConvertToPNG.py", line 8, in <module>
    drawing = svg2rlg(svg_path)
  File "C:\Users\James\AppData\Local\Programs\Python\Python310\lib\site-packages\svglib\svglib.py", line 1468, in svg2rlg
    drawing = svgRenderer.render(svg_root)
  File "C:\Users\James\AppData\Local\Programs\Python\Python310\

[2022-05-25 06:34] claudep commented on #346
Thanks, yes, it helps. Would it be possible to also have the SVG file that triggers this error?

[2022-05-26 02:52] jamessappy commented on #346
I am using version 1.3.0 of the svlib library.
I've also attached the .svg file that I'm trying to convert.

![NewSunPath](https://user-images.githubusercontent.com/73321676/170405905-7d3b2caa-8621-4729-9fa7-83fffb2b1069.svg)